body {
	background: #EBCC6E url(/img/base/noise.png);
}
header #sergio, header #org {
	color: #4E6B66;
	text-shadow: 1px 1px 1px #EBE1C5;
}
header #lopes {
	color: #595643;
	text-shadow: 1px 1px 1px #EBE1C5;
}
nav a {
	background-color: #ED834E;
}
p code, li code {
	background-color: #EBE1C5;
	color: #222;
}

div#social, article h4 {
	background: rgba(0,0,0,0.15);
}

article h1 {
	background-size: 100%;
	background-repeat: no-repeat;
	color: transparent;
	height: 0;
	padding-top: 20.125%;
	margin-bottom: 0.5em;
	max-width: 800px;
	width: 100%;
	text-indent: -999em;
}
.svg article h1 {
	/* TODO trocar URL */
	background-image: url(/img/posts/responsive-email/titulo.svgz);
}

.nosvg article h1, .nojs article h1 {
	background-image: url(/img/posts/responsive-email/titulo.png);
}
@media (max-width: 540px) {
	.nosvg article h1, .nojs article h1 {
		background-image: url(/img/posts/responsive-email/titulo-mobi.png);
		padding-top: 25%;
	}
	header #sergio, header #org, header #lopes {
		text-shadow: none;
	}
}

h2 {
	color: rgba(30, 30, 30, 0.7);
	counter-increment: subtitulo;
	font-size: 1.8em;
	padding-left: 3em;
	padding-top: 1em;
	position: relative;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
	margin-bottom: 1.25em;
}
h2:before{
	background: rgba(255,255,255,0.5);
	content: counter(subtitulo);
	font-size: 1.6em;
	text-align: center;
	vertical-align: bottom;

	height: 1.5em;
	line-height: 1.5em;
	margin-right: 0.3em;
	width: 1.5em;

	position: absolute;
	margin-top: -0.375em;
	left: 0;
	top: 50%;

	box-shadow: inset 1px 1px 5px rgba(30, 30, 30, 0.3);
	color: #EBCC6E;
	text-shadow: 0px 1px 1px rgba(30, 30, 30, 0.3);

	-webkit-border-radius: 5em;
	   -moz-border-radius: 5em;
	        border-radius: 5em;
}
article a {
	color: #004e66;
}