@import 'nib'
@import '_includes/css/tema'


// base vars
fonte-destaque = 'Della Respira', serif;



// background geral
body
	background-color: #004e66
	fundo-body: url(/img/posts/responsive-design/background.jpg)

/* titulo principal da abertura */
h1 
	color: white;
	color: rgba(255,255,255,0.9);
	font-family: fonte-destaque
	font-size: 3.4em;
	font-weight: 400;
	line-height 1.4
	text-align: right;

	margin: 0.75em 0 1em;
	max-width 10.3em /* ~700px */

	text-shadow: -1px -1px 2px rgba(30, 30, 50, 0.6);

	.dr 
		display: block;
		margin-right: 1em;
	.pu 
		font-size: 0.6em;
		font-style: italic;
		line-height: 1.5em;
		vertical-align: top;

/* base */
section {
	clear: both;
	margin-bottom: 5em;
	position: relative;
}
article p, 
article li, 
blockquote
	color: white
	color: rgba(255,255,255,0.95)

section 
	em
		color: #FFF0A5;
		font-style: normal;

	strong 
		color: #EDC951;
		font-weight: normal;	

	p code, li code
		color: #ffa

	h2
		margin: 1em 0

article a
	color: #edaa51;

	&:hover
		text-decoration: none


/* SECOES */
.intro
	font-size: 1.125em;
	font-weight: normal;
	line-height: 1.6em;
	margin-left: 7%;

	p
		max-width 30em
		width: 90%;

.comeco
	padding-left: 210px;

	.destaque
		color: #FFB03B;
		font-family: fonte-destaque;
		font-size: 1.5em;
		padding: 0.5em 0;
		text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);

h2.sub
	color: #FFB03B;
	font-family: fonte-destaque;
	font-size: 5em; /* 64 px */
	float: none;
	margin: 0;
	padding: 0;
	line-height: 0.8em;
	text-align: right;
	text-transform: lowercase;
	text-shadow: -1px -1px 2px rgba(30, 30, 50, 0.6);

	span 
		display: block;

.rwd  
	.sub
		width: 4.8em;

	div.txt
		float: right;
		padding-left: 1em;
		max-width: 32em;
		margin-top: 1em;

	&:after
		content: ' ';
		display: block;
		clear: both;



/* demo */
.no-js .demo, 
.no-js .rwd button, 
.no-responsive-play .rwd button {
	display: none;
}


.demo
	background: url(/img/posts/responsive-design/regua.png) no-repeat 7px 0;
	padding-top: 2.4em;
	margin-bottom: 2em;

	&.video
		background: none;
		padding-top: 0;

	.wrapper
		background: url(/img/posts/responsive-design/demobg.png);
		border-radius: 8px;
		box-shadow: inset 1px 1px 12px rgba(0,0,0,0.35);
		padding: 10px;
		position: relative;
		overflow: hidden;
		height: 340px;
		width: 100%;

		&:before
			content: url(/img/posts/responsive-design/seta.png);
			height: 117px;
			width: 300px;
			absolute: left 300px top 100px

		iframe
			border: 0;
			position: relative;
			width: 240px;
			z-index: 2;
			-webkit-overflow-scrolling: touch; /* ios 5 */

	.protector
		content: ' ';
		display: block;
		absolute: top 0 left 0
		bottom: 0;
		right: 0;
		z-index: 3;

		&:after
			content: url(/img/posts/responsive-design/ativar.png);
			absolute: bottom -70px left 5px

.demo.up .wrapper
	transition: height 3s linear;
	height: 470px;

	iframe
		transition: width 5s linear;
		height: 100%;		



.rwd button
	background: #FFB03B;
	border: 0;
	color: #222;
	font-size: 1.5em;

	padding: 0.2em 0.7em 0.3em 0.7em;
	text-align: center;

	display: block;
	margin: 1em auto;
	max-width: 300px;
	width: 96%;

	border-radius: 0.3em;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.35);
	text-shadow: 0 -1px 2px rgba(255, 255, 255, 0.6);

	&:active
		position: relative;
		top: 1px;
		text-shadow: none;
		box-shadow: none;


.oque {
	ul {
		font-size: 1.125em; /* 18px */
		padding-left: 14em;
		width: 100%;
		float: right;

		list-style-type: none;
	}
	.oque li {
		color: #EFE0E0;
		font-style: italic;
		font-size: 0.833em; /* 15px */
		padding-bottom: 1.8em;
	
		span {
			color: #FFF0A5;
			display: block;
			font-size: 1.2em; /* 18px */
			font-style: normal;
		}
	}
}

.como h2, 
.mas h2, 
.fim h2 {
	color: #123745;
	font-family: fonte-destaque;
	font-size: 5em;
	text-shadow: -1px -1px 2px rgba(0,0,0,0.65);
	font-weight: normal;
	text-transform: lowercase;
}

.como {

	hgroup {
		margin-bottom 3.5em
	}

	h2 {
		display: inline-block;
		margin: 0;
		line-height 0.7
		vertical-align: baseline;
	
		span {
			display: none;
		}
	}
	.destaque {
		color: #153f4f;
		display: inline-block;
		font-size: 1.8em;
		margin: 0
		padding-left: 1em;
		text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
	}

	ol {
		margin-top: 2em;
		list-style-type: none;
		padding: 0;
	}
	li {
		position: relative;

		&:first-child h3:before {
			background-position: 0 0;
		}
		&:last-child h3:before {
			background-position: 100% 0;
		}
	}
	h3 {
		color: #123745;
		font-family: fonte-destaque
		font-size: 3em;
		font-weight: normal;
		line-height: 128px;
		height: 128px;
		text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
	
		&:before {
			background: url(/img/posts/responsive-design/numeros.png) no-repeat;
			background-position: 50% 0;
			content: ' ';
			display: inline-block;
			margin-right: 0.25em;
			height: 128px;
			vertical-align: middle;
			width: 129px;
		}
	}
			

	.txt {
		position: relative;
	
		p {
			padding-right: 350px;
		}
	}

	.mq {
		absolute: top 0 right 0
	}
	small {
		display: block;
		max-width: 240px;
		margin: 0 auto;
		font-style: italic;
	}

	.highlight {
		margin-top: 0;
		font-size 0.85em
	}
	pre {
		padding: 0 0.5em;
	}
	pre code:before {
		display: none;
	}

	.fluido .txt p {
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		max-width: 600px;
		width: 95%;
	}
	.imagens .txt p {
		padding-right: 0;
		padding-left: 290px;
	}
}

.mas {
	h2 {
		margin-bottom: 0;
	}
	p {
		margin-left: auto;
		max-width: 680px;
		padding-right: 8%;
		width: 94%;
	}
	h3 {
		color: #FFB03B;
		font-family: fonte-destaque
		font-size: 1.8em;
		font-weight: normal;
		padding-left: 6em;
		padding-top: 1.5em;
		text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
	}
}

.mb h2 {
	line-height: 0.9em;
	width: 3.5em;
}
.fim h2 {
	margin-bottom: 0;
}

.mb p, .fim p {
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;
	width: 96%;
}

.fim .ultimo {
	font-size: 1.125em;
	line-height: 1.5;
	max-width: 780px;
	padding-top: 1.2em;
}


/** RESPONSIVE **/

@media (min-width: 700px) {
	/* só mostra imagens decorativas a partir de 700px */
	h1 {
		background: url(/img/posts/responsive-design/h1.png) no-repeat center center;
	}
	.comeco {
		background: url(/img/posts/responsive-design/iphone-sketch.png) no-repeat left top;
	}
	.como .imagens {
		background: url(/img/posts/responsive-design/pagedesign.png) no-repeat 0 center;
	}
}

@media (max-width: 1088px) {
	.como .txt p {
		padding-right: 290px
	}
}

@media (max-width: 880px) {
	.mas h3 {
		padding-left: 3em;
	}
}

@media (max-width: 760px) {

	.como h2, .mas h2, .fim h2 {
		font-size: 5em;
	}
	.como .destaque {
		font-size: 1.5em;
	}
	.como .txt p {
		padding-right: 0;
	}
	.como .mq {
		padding-right: 45%;
		position: relative;
		top: auto;
		right: auto;
	}
	.como small {
		max-width: 43%;
		position: absolute;
		top: 3em;
		right: 0;
	}
	.como .imagens {
		background-position: 0 center;
	
		.txt p {
			padding-left: 265px;
		}
	}
	.mas h3 {
		padding-left: 0;
	}
}
@media (max-width: 720px) {
	.como h3 {
		padding-left 0
	}
}

@media (max-width: 699px) {
	h1.title {
		font-size: 3em;
	}
	.intro p {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	.comeco {
		padding-left: 0;
		margin-left: auto;
		width: auto;
	}
	.como .destaque {
		font-size: 1.4em;
		padding-left: 0;
		display: block;
		margin-top: 0;
	}
	.como .imagens .txt p {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		width: 95%;
	}
}

@media (max-width: 650px) {
	.como h3 {
		font-size 2.5em
	}
}


@media (max-width: 600px) {
	.rwd .txt:last-child {
		margin-top: 0;
	}
	.demo .wrapper:before, .demo .protector:after {
		display: none;
	}
	.como h3 {
		line-height 64px
		height 64px
		vertical-align bottom
	}
	.como h3:before {
		background-size auto 64px
		height: 64px;
		width: 64px;
	}
}

@media (max-width: 540px) {
	body:before {
		height: 106px;
	}
	section {
		margin-bottom: 3em;
	}
	.intro p {
		width: 92%;
	}
	.como h2, .mas h2, .fim h2 {
		font-size: 4em;
	}
}

@media (max-width: 520px) {
	h1 {
		font-size 2.8em
	}
	.intro {
		margin: 0
		font-size inherit

		p {
			width: auto;
		}
	}
	.rwd {
		margin-bottom: 2em;

		div.txt {
			padding-left 0
		}
	}
	.como h3 {
		padding-bottom: 2.7em;
		line-height: 1;
	}
	.como h3:before {
		display: block;
	}

	.mas, .mb, .fim {
		p {
			padding-right 0
			width auto
		}
	}
}

@media (max-width: 479px) {
	h1.title {
		font-size: 2.5em;	
	}
	.como .mq {
		padding-right: 0;
		margin-bottom: 0;
	}
	.como small {
		max-width: 80%;
		position: relative;
		top: auto;
	}
}


@media (max-width: 460px) {
	body:before {
		height: 73px;
	}
	h1.title {
		font-size: 2.3em;	
	}
}

@media (max-width: 400px) {
	h2.sub {
		font-size: 3.5em;
	}
	h1.title {
		font-size: 2em;	
	}
}
