/* 
	imagens dos fundos geradas como png de 1px:
	  #F90
	  rgba(0,0,1,0.07)
*/
bg-fundo-laranja = url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX/mQC5YThkAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==') //'
bg-fundo-cinza = url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12NgYGAUAgAAGQAUc/3B9gAAAABJRU5ErkJggg==') //'


/*
	configuracoes comuns do header
*/
header-largura = 14em