// palheta de cores
// TODO nao precisaria repetir aqui se nao buildasse esse arquivo
laranja = #F90
laranja_escuro = #F36C13
azul = #3299BB
fundo = #ccccd0
cinza = #333
fundo_letra = #b0b0b0

vermelho = #C00F0F
laranja_meio = #ff6828
amarelo = #FFD700
amarelo_claro = #F5E617
branco = #F0F0D8
marrom = #5E412F
verde = #0FC00F

/**
	SLIDES mobile-web
 **/
#capa 
	.content
		background: laranja
		padding: 0

		h1
			background: azul//#303036
			color: white //laranja
			padding: 0 6% 3%
			margin-top: 8%
			font-size: 1200%
			line-height: 0.9
			text-align: right;
			text-transform: lowercase

			span
				display: block;

		.subtitulo
			color: #222
			margin-left: auto
			padding-right: 2%
			width: 70%

		.logo
			absolute: bottom 20px right 6%
			font-size: 400px

	.aovivo
		line-height: 1.1
		text-align: right
		padding: 4% 6%

		div
			color: cinza
			font-size: 225%
			font-weight: normal

		a
			color: black
			display: block
			font-size: 680%
			text-decoration: none

		span
			color: vermelho

	.audience
		h1
			color: laranja

		.erro
			display: none

			.no-websocket &
				display: block
				background: vermelho
				padding: 0.2em

#quem .content 
	background: transparent url(/img/palestra/sergio-lopes.jpg) no-repeat bottom center
	background-size: cover;

	h1
		background: none
		color: darken(azul,10%)
		font-size: 1000%
		padding-right: 2%
		padding-top: 6%
		line-height: 0.8
		text-align: right
		text-transform: lowercase

		span
			display: block

	ul
		margin-top: 1.8em
		padding-right: 2%

		li
			padding: 0
			list-style-type: none
			text-align: right

		a
			color: laranja_escuro
			//font-size: 380%
			//line-height: 1.5
			text-decoration: none

	.logo
		absolute: bottom 190px right 10px
		font-size: 400px

#audience
	.content
		background: laranja
		padding: 0

		h1
			color: white
			font-size: 600%
			text-align: center

		.room-linker
			text-align:center

			a
				font-size: 500%
				line-height: 1.2
				color: white
				display: block
				text-decoration: none

		p
			font-size: 200%
			width: 90%
			margin: 0 auto
			text-align: center


.destaque .content 
	background: #3299BB
	line-height: 768px
	padding: 0
	text-align: center

	h1
		background: none
		display: inline-block
		vertical-align: middle
		text-align: center

		line-height: 0.8
		text-transform: lowercase

		span
			display: block

			&:first-child
				color: branco
				font-size: 170%

			&:last-child
				color: amarelo_claro
				font-size: 210%

	h2
		absolute: bottom 10% right 10%
		font-size: 400%
		color: cinza

#responsive
	h1
		background: none
		font-size: 1100%
		line-height: 0.85

		color: laranja_escuro

		padding: 0
		margin: 1.1em 0 0
		text-transform: lowercase
		text-align: center

		span
			display: block
			background: fundo
			z-index: 3

		&:before, &:after, span:after, span:before
			color: azul
			font-family: Times, 'Lucida Sans', 'Arial Unicode MS', sans-serif;
			font-size: 160%
			z-index: 0

		span:first-child
			&:before
				content: '\21E0'
				absolute: left top 50%
				line-height: 0
				z-index: 2
			&:after
				content: '\21E2'
				absolute: right top 50%
				line-height: 0
				z-index: 2
		&
			&:before
				content: '\21E1'
				absolute: left top
				display: block
				vertical-align: top
				text-align: center
				width: 100%
			&:after
				content: '\21E3'
				absolute: left bottom 5.5%
				display: block
				text-align: center
				vertical-align: bottom
				width: 100%

#mediaqueries
	h1
		background: none
		vertical-align: middle
		text-align: left
		margin: 0
		font-size: 800%

		div
			display: inline-block

		span:first-child
			color: laranja_escuro
			text-transform: lowercase

		span:last-child
			display: inline-block
			width: 300px

			color: azul
			line-height: 0.8
			text-transform: uppercase

.iphone
	background: #333
	border-radius: 2em
	position: relative
	
	&.portrait
		width: 15em
		height: 28.125em;

		&:before, .hotzone, .screen, .browser
			absolute: left 0.625em top 4.375em
			height: 18.375em
			width: 13.75em

		&:after
			absolute: left 6.0625em bottom 1.25em

		.hotzone
			&:before
				content: ''
				absolute: left -11.875em top -2.5em
				border-style: solid
				border-width: 12.1875em
				border-radius: 62.5em

				height: 62.5em
				width: 62.5em

	&.landscape
		width: 28.125em
		height: 15em

		&:before, .hotzone, .screen, .browser
			absolute: left 4.375em top 0.625em
			height: 13.75em
			width: 18.375em

		&:after
			absolute: right 1.25em bottom 6.0625em

		.hotzone
			&:before, &:after
				content: ''
				absolute: left -19.5em top -6.875em
				border-style: solid
				border-width: 13.75em
				border-radius: 13.75em
			&:after
				left: auto
				right: -19.5em

	&:before
		content: ''
		background: #555

	&:after
		content: ''
		border: 1.5625em solid #555
		border-radius: 1.5625em

	.hotzone
		overflow: hidden

		&:before, &:after
			border-color: amarelo

	.screen
		background: white
		overflow: hidden

	.browser
		background-color: laranja
		background-size: 15px 15px

	.browser
		border-top: 0.8em solid #bbb
		border-bottom: 1.5em solid azul
		position: relative

		&:before // address bar
			content: ''
			absolute: top left
			height: 2.2em
			width: 100%
			box-sizing: border-box

			background: white
			border: 0.5em solid azul

	@css {
		.iphone .browser {
			background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		}
	}

#sitemobile
	.iphone 
		font-size: 25px
		absolute: top 10px right 32px

		h1
			color: laranja_escuro
			margin-top: 30px
			text-align: center
			text-transform: lowercase

	h2
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		color: transparent
		overflow: hidden

		&:after
			content: ' m.site.com m.site.com m.site.com  m.site.com  m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com  m.site.com  m.site.com  m.site.com  m.site.com  m.site.com  m.site.com m.site.com m.site.com'
			absolute: top -20px left 10px
			color: fundo_letra
			font-size: 230%
			line-height: 1.1
			z-index: -1
			width: 1200px

		&:before
			content: 'm.site.com'
			absolute: bottom 184px left 10px
			
			background: fundo
			color: cinza
			font-size: 230%
			line-height: 1.1	

#redirects
	h1
		background: none
		font-size: 700%
		line-height: 0.8
		text-align: left
		text-transform: lowercase
		margin-bottom: 1.5em

		span
			display: block

			&:first-child
				color: laranja_escuro

			&:last-child
				color: azul
				font-size: 168%

	ul
		color: cinza
		absolute: top right
		width: 50%

		li
			margin-bottom: 1em

		.redirect
			color: #555
			line-height: 0.8
			text-align: center
			width: 80%

			span
				color: laranja_escuro
				display: block

#zoom, #zoom2, #scroll
	h1
		font-size: 700%
		margin: 0

	.audience
		h2
			font-size: 250%

		.peq
			font-size: 4px
			-webkit-text-size-adjust: none

		button
			margin: 1em 0
			font-size: 120%

#scroll
	h1 
		padding-right: 350px
		line-height: 0.8

		b
			display: block
			line-height: 1.2

	.iphone
		absolute: right bottom 40px
		margin: 1em
		font-size: 21px

	.highlight
		margin-top: 150px
		width: 500px

#hotzones
	.content
		text-align: center

	h1
		background: none
		font-size: 1000%
		line-height: 0.73
		text-align: right
		padding: 0 10px 0 0
		margin: 0

		span
			display: block
			text-transform: uppercase

		.h
			color: laranja_escuro

		.z
			color: #444
			padding-right: 17px
		.u
			absolute: top left
			font-size: 220%
			line-height: 0.6
			color: #ddd
			z-index: -1

	.iphone
		display: inline-block
		vertical-align: middle
		margin: 2em

	.audience
		button
			absolute: bottom 3px right 3px
			font-size: 110%
			height: 44px

.height100.audience-mode
	html&, body, .presentation, .slide, .slide .audience
		height: 100% !important


#orientation
	.highlight
		margin-top: 8em

#orientationchange
	.highlight
		margin-top: 2em

#mobilize
	figure
		font-size: 650%
		margin-bottom: 2em

	blockquote
		color: azul
		font-size: 100%
		line-height: 1
		margin: 0
		text-align: right

		// quotes
		&:before, &:after
			content: '\00AB'
			color: fundo_letra

		&:after
			content: '\00BB'

	figcaption
		color: cinza
		font-size: 50%
		padding-right: 1em
		text-align: right

		&:before
			content: ''

	b
		color: laranja_escuro
		font-weight: normal

	figure:first-child:after
		content: '\21CB'
		absolute: top 42% left
		display: block
		width: 100%
		text-align: center

		font-size: 300%
		color: fundo_letra
		line-height: 0
		z-index: -1

		// TODO ta dando pau de fonte no iOS
		font-family: Arial, Times, 'Lucida Sans', 'Arial Unicode MS', sans-serif;

#dedo
	.audience
		.bolinhas
			padding: 20px 0
			text-align: center

			span
				background: laranja
				display: inline-block
				border-radius: 100px
				margin-right: 1px
				height: 8px
				width: 8px;

#hover
	h1
		padding: 0
		text-align: center
		text-transform: lowercase

		font-size: 800%
		line-height: 1

		span:first-child
			color: transparent

			&:before
				content: "esqueça"
				background: fundo
				padding-bottom: 50px
				absolute: top 376px right 11px
				color: #333
				line-height: 0.5
				z-index: 2

			&:after
				content: "esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça"
				absolute: top -40px left
				color: fundo_letra


		span:last-child
			background: fundo
			color: laranja_escuro
			absolute: top 498px right 11px
			line-height: 0.6;
			padding-bottom: 44px;
			padding-left: 100px;

#gestos, #gestos2
	h1
		text-align: center

	img
		display: block
		margin: 0 auto
		height: 550px
		width: 550px

	.highlight
		margin: 0 auto
		width: 800px

	.audience
		p
			padding: 1em 0

		.touchme
			background: amarelo
			height: 200px
			line-height: 200px
			width: 100%

			color: cinza
			font-size: 200%
			font-family: 'Yanone Kaffeesatz', sans-serif;
			text-align: center

			-webkit-user-select: none;
			-webkit-user-drag: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

.input .content
	h1
		line-height: 0.8

		span
			text-transform: lowercase

		span, b
			display: block

	section
		float: left
		margin: 0
		padding: 5% 2% 5%
		width: 50%

		img
			display block
			margin: 0 auto

.exemplo-form
	label, input
		display: block
		vertical-align: middle
		width: 100%
	
	label
		font-size: 160%

	input
		border: 3px solid azul
		font-size: 160%
		margin: 0.2em 0 0.5em
		padding: 0.2em

	.label-left 
		line-height: 2em

		input
			float: right
			font-size: 100%
			width: 80%

	input[type=checkbox]
		display: inline
		margin: 0
		width: auto

	button
		background: laranja
		border: none
		display: inline-block
		font-size: 180%
		padding: 0.5em
		margin: 0.5em 0
		width: auto

		&:active
			margin-top: 0.6em

#input-date
	section + section
		padding: 0 2%

#form-attrs
	h1
		font-size: 700%
		margin: 0.7em 0
		line-height: 1
		text-transform: lowercase

		b
			display: block
			font-size: 130%
			text-transform: uppercase

	h2
		text-align: right

.iphone.form
	absolute: top 30px right 10px
	font-size: 24px

	.screen
		padding: 0 4% 4%

	input[type=text]
		display: block
		font-size: 160%
		line-height: 1.5
		vertical-align: middle
		border: 3px solid cinza
		width: 100%
		color: cinza

	input[type=checkbox]
		display: inline
		transform: scale(1.8) translate(2px, -4px)

	label
		color: laranja_escuro
		display: block
		font-size: 160%
		line-height: 1.2
		margin-top: 20px

		span
			color: #444
			padding-left: 10px

	button
		border: none
		background: azul
		color: white
		padding: 8px
		margin-top: 20px
		font-size: 170%

#geolocation, #usermedia
	h1 
		line-height: 0.82
		margin 0
		text-transform: uppercase

		b
			display: block
			font-size: 62.5%

	h2
		color: cinza
		line-height: 0.9
		margin: 7% 0 3%
		font-size: 400%
		text-transform: uppercase

		&:last-child
			color: #555
			text-align: right
			text-transform: none

	.iphone
		input[name='cidade']
			display: inline-block
			width: 75%
		svg
			display: inline-block
			relative: top 22px left 4px

#geolocation
	.highlight
		margin: 0 10px
		width: 630px

	.audience
		label, input
			font-size: 180%
			padding: 0.5em 0.1em

		label
			display: block

		input
			border: 4px solid azul
			width: 75%
			vertical-align: middle

		.icone
			background: amarelo
			display: inline-block
			//padding: 5px 0 0 5px
			height: 60px
			width: 60px
			vertical-align: middle

			font-size: 500%
			color: cinza
			line-height: 60px
			text-align: center
			overflow: hidden

		svg
			height: 50px
			width: 50px

		.debug
			padding: 1em 0
 
#form-ux
	h1
		background: none
		font-size: 1200%
		line-height: 0.73
		text-align: right
		padding: 1% 44% 0 0
		margin: 0

		span
			display: block
			text-transform: uppercase

		.h
			color: laranja_escuro

		.z
			color: azul
			padding-right: 5px
	
	ul
		padding-right: 42%
		padding-top: 3%

#form-js
	h1
		font-size: 800%
		line-height: 0.8


		span
			display: block
			color: cinza
			font-size: 57%
			text-transform: uppercase
			word-spacing: 0.2em

	h2
		background: azul
		color: white
		font-size: 400%
		padding: 0 0.2em 0.1em

		&:after
			content: ":"

	label
		display: block
		font-size: 320%
		padding: 0.4em 0

	.textareas
		absolute: left 2% top 27%
		width: 46%

		textarea
			font-family: Arial
			font-size: 200%
			resize: none
			border: 3px solid cinza
			overflow: hidden
			width: 100%
			height: 1.5em

			&:last-child
				height: 5em
				margin-top: 3.5em

		&:after
			content: '\2193'
			color: cinza
			font-size: 600%

			absolute: bottom 220px left 0
			width: 100%
			text-align: center

	.emails
		absolute: right 2% top 27%
		width: 46%

		input
			border: 3px solid cinza
			font-size: 260%
			padding: 4px
			width: 100%

		p
			color: #444
			font-size: 250%
			margin: 0.2em 0
			text-align: right

			b
				color: darken(azul, 50%)
				font-weight: normal
				text-decoration: underline

#esquecer
	// .content
	// 	background: #f1f2ec

	h1
		position: relative
		margin-top: 100px
		padding: 2%

		span
			display: block
			text-transform: uppercase
			font-size: 75%

			color: laranja_escuro
			line-height: 0.9
			text-align: right

			width: 200px

		.e
			absolute: top left 240px
			width: auto

			color: azul
			font-size: 270%
			line-height: 0.85
			text-transform: uppercase

	ul
		list-style-type: none
		text-align: right

		color: cinza

		li
			padding: 10px 5%
			font-size: 400%

#latencia
	.content
		background: fundo

	h1
		background: none
		font-size: 1200%
		text-align: center

		absolute: bottom 100px left 0

		span
			display: block
			line-height: 0.9

			&:first-child
				color: cinza
				text-transform: lowercase

			&:last-child
				color: azul
				font-size: 190%
				font-weight: bold
				text-transform: uppercase
	h2
		color: laranja_escuro
		absolute: bottom 50px right 20px
		font-weight: normal

#localstorage
	h1
		line-height: 0.88
		margin-bottom: 0.25em
		font-size: 850%

		b
			display: block
			font-size: 115%
		span
			//display: block
			text-transform: lowercase

.ul-pontos
	font-size: 130%
	text-align: center

	li
		display: inline-block
		list-style-type: none
		padding: 0 0.3em 0.2em
		margin: 0.28em

		background: cinza
		border-radius: 10px
		color: white

.ul-simples
	list-style-type: none
	text-align: right

	color: cinza

	li
		padding: 10px 5%
		font-size: 400%

#limitacoes
	h1
		font-size: 900%
		text-align: center
		margin: 0
		line-height: 0.8

		span
			text-transform: lowercase

		b
			font-weight: normal
			font-size: 168%

	ul
		font-size: 210%

#frameworks
	h1
		background: none
		position: relative
		margin-top: 200px
		padding: 2%

		span
			display: block
			text-transform: uppercase
			font-size: 75%

			color: laranja_escuro
			line-height: 1
			text-align: left

			padding-left: 580px
			width: 980px

		.e
			absolute: top left 24px
			padding: 0
			width: auto

			color: azul
			font-size: 350%
			line-height: 0.17
			text-transform: uppercase

	li:first-child
		font-weight: bold

#displaynone
	h1
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		overflow: hidden

		font-size: 1000%
		line-height: 0.8

		code
			absolute: top 480px left
			width: 100%
			z-index: 2

			background: fundo
			color: cinza
			text-align: center

			font-size: 79%
			padding: 0.1em

		span
			color transparent

			&:before
				content: 'nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca'
				absolute: top -40px left -10px
				color: laranja_escuro
				width: 1400px

#fastbutton
	.content
		h1
			font-size: 1200%
			font-weight: bold
			line-height: 0.75
			padding-left: 50%
			margin-bottom: 0.6em
			text-align: left
			text-transform: uppercase
			transform: skewX(-25deg)
			text-shadow: -485px 10px 30px rgba(30,30,30,0.35)

			span
				display: block

				&:first-child
					color: laranja_escuro
					font-size: 130%
					letter-spacing: 10px

				&:last-child
					color: cinza

	.audience
		h2
			text-align: center

			.v
				color: #777

		.buttons
			text-align: center

		.tap, .click
			display: inline-block
			background: amarelo
			border-radius: 0.3em
			color: cinza
			font-size: 200%
			padding: 0.8em 0
			margin: 0.5em
			width: 40%

			-webkit-user-select: none;
			-webkit-user-drag: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

@keyframes desce {
	0% { transform: translateX(450px); }
	80% { transform: translateX(450px); }
	100% { transform: translateX(0px); }
}
@keyframes desce-lento {
	0% { transform: translateX(450px); }
	90% { transform: translateX(450px); }
	100% { transform: translateX(0px); }
}
@keyframes desce-mais-lento {
	0% { transform: translateX(450px); }
	95% { transform: translateX(450px); }
	100% { transform: translateX(0px); }
}

@keyframes lightSpeedIn {
	0% { transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { transform: translateX(0%) skewX(0deg); opacity: 1; }
}
@keyframes rollIn {
	0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
	50% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
	100% { opacity: 1; transform: translateX(0px) rotate(0deg); }
}
#animacoes
	.content
		h1
			font-size: 2000%
			line-height: 0.8
			position: relative
			margin-left: 40px
			margin-bottom: 120px
			transform: translateZ(0);

			b
				color: azul
				font-weight: bold
				display: block
		
		ul
			font-size: 130%
			absolute: top right
			text-align: right
			width: 500px
			padding-right: 20px

			li
				color: white
				background: cinza
				border-radius: 5px
				display: inline-block
				list-style-type: none
				margin: 0.2em
				padding: 0 0.3em 0.1em
				animation-iteration-count: 1;

				&:nth-child(1)
					animation: desce 1.5s ease-out

				&:nth-child(2)
					animation: desce-lento 2.5s ease-out

				&:nth-child(3)
					animation: desce-mais-lento 3.5s ease-out
	
	.audience
		transform: translateZ(0);

		h1
			font-size: 300%
			animation: lightSpeedIn 1s linear
			animation-iteration-count: 1
			animation-fill-mode: both

		h2
			font-size: 250%
			animation: rollIn 2s linear
			animation-iteration-count: 1
			animation-fill-mode: both

#aceleracao
	h1
		line-height: 0.9
		margin: 0.5em 0
		font-size: 900%

		span
			display: block
			text-transform: uppercase
			color: #555
			font-size: 70%

		b
			display: block
			color: azul

#deviceratio
	h1
		font-size 700%
		line-height 0.85
		margin-bottom 0.2em
		text-transform: lowercase

		b
			display block
			font-size 105%

.font-caelum
	font-size: 600px
	height: 0.276em
	width: 0.79em

	//overflow: hidden
	position: relative
	display: inline-block

	&:before
		content: 'C';
		font-family: Caelum;
		line-height: 1
		absolute: top -0.35em left 0.02em

@css {
	.stripes {
		background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
		background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	}
}

#graficos
	.content
		background-color: #f90
		background-size: 50px 50px
		border-radius: top 50px

	h1
		background: rgba(255,255,255,0.3)
		color: azul
		font-size: 700%
		border-radius: top 50px
		text-align: center

	.basquete1
		background-size: 350px 350px
		height: 350px
		width: 350px
		background: url(/img/palestra/mobile-web/basquete.svg) no-repeat
		display: inline-block
	.basquete2
		background-size: 180px 180px
		height: 180px
		width: 180px
		background: url(/img/palestra/mobile-web/basquete.svg) no-repeat
		display: inline-block

	.bolas
		absolute: left 20px bottom 55px
		width: 400px
		text-align: center

	.logos
		absolute: right 20px bottom 55px
		width: 500px

	.font-caelum
		&.ex1
			color: black

		&.ex2
			color: transparent
			text-shadow: 0 0 7px darken(azul, 40%)

		&.ex3
			color: white
			border-radius: 10px
	.audience
		.font-caelum
			font-size: 300px
			margin: 20px 0

		.gradiente
			height: 200px
			width: 100%

			background-image: linear-gradient(top left, laranja_escuro, amarelo_claro)
			border-radius: 15px

#mais-integrado
	h1
		span:nth-child(2)
			color: branco

			padding-top: 35px
			line-height: 0.4
			font-size: 140%

#protocolos, #webapp, #apis
	h1
		font-size: 800%

#apis
	h1

		text-align: center

#conclusao
	.content
		background: laranja

	h1
		color: #222
		border-bottom: 10px solid laranja_escuro
		font-size: 400%
		line-height: 0.95
		width: 94%
		padding: 3.1%
		margin: 0 auto

		&:last-child
			border: none

#fim
	.content
		background: laranja

		h1
			color: darken(laranja_escuro, 20%)
			font-size: 2100%
			text-align: center

		.contato a
			color: #222
			display: block
			font-size: 700%
			text-align: right
			line-height: 1.3
			text-decoration: none
			padding-right: 50px

		.logo
			position: absolute;
			bottom: 210px;
			left: 40px;
			font-size: 450px;