@import 'nib'

// palheta de cores
laranja = #F90
laranja_escuro = #F36C13
azul = #3299BB
fundo = #ccccd0
cinza = #333
fundo_letra = #b0b0b0

vermelho = #C00F0F
laranja_meio = #ff6828
amarelo = #FFD700
amarelo_claro = #F5E617
branco = #F0F0D8
marrom = #5E412F

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: url(/img/palestra/mobile-web/YanoneKaffeesatz-Bold.ttf);
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url(/img/palestra/mobile-web/YanoneKaffeesatz-Regular.ttf);
}


.slide .content
	background-color: fundo
	font-family: 'Yanone Kaffeesatz', sans-serif;

	h1 
		color: azul
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: normal

		font-size: 6em;
		line-height: 1.2;
		text-align: left

		margin: 0;
		padding: 0 2%;
		margin-bottom: 32px

		b
			color: laranja_escuro
			font-weight: bold

	h2 
		color: cinza;
		font-family: 'Yanone Kaffeesatz', sans-serif;	
		font-size: 3em;
		line-height: 1.2;

		margin: 0;
		padding: 0 2%;

.highlight {
	margin: 22px;

	pre {
		padding-top: 0.5em
	}

	pre code:before {
		content: ''
		background: laranja_escuro
		box-shadow: none
		height: 12px
	}
}


/** SLIDE SPECIFICS **/
@import 'mobile-web-slides'

.bars
	.content
		.poster
			span
				color: azul

		// window title
		.title
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-size: 150%

/** AUDIENCE MODE **/

.audience-mode, .site-mode 
	body 
		background: #121212

.slide .audience, .initial-info
	padding: 0.8em 0.5em
	text-align: left

	h1
		color: laranja
		font-size: 180%
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: normal
		line-height: 1.2
		margin: 0

	h2
		color: azul
		font-size: 150%
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: normal
		line-height: 1.2
		margin: 0

	p
		color: white
		line-height: 1.3
		padding: 0.5em 0
		margin: 0

	a
		color: laranja_escuro

	.ps
		color: #999
		clear: both

	.erro
		display: none

.no-websocket .initial-info .erro
	display: block
	background: vermelho
	padding: 0.2em

.initial-info .close-info
	cursor: pointer
	background: azul
	display: inline-block
	border-radius: 0.3em
	color: white
	padding: 0.4em 0.6em
	margin: 1em 0
	text-align: center

#mediaqueries .audience { background-color: laranja_escuro;}

@media (min-width: 401px) {
	#mediaqueries .audience { background-color: azul; }
}
@media (min-width: 580px) {
	#mediaqueries .audience { background-color: vermelho; }
}
@media (min-width: 800px) {
	#mediaqueries .audience { background-color: laranja; }
}
@media (min-width: 1100px) {
	#mediaqueries .audience { background-color: fundo_letra; }
}


/*** SITE MODE ***/
// .site-mode
// 	body
// 		background: black
// 	.notes
// 		background: white
// 		color: black

