/**
	SLIDES mobile-web
 **/
#capa .content {
  background: #f90;
  padding: 0;
}
#capa .content h1 {
  background: #3299bb;
  color: #fff;
  padding: 0 6% 3%;
  margin-top: 8%;
  font-size: 1200%;
  line-height: 0.9;
  text-align: right;
  text-transform: lowercase;
}
#capa .content h1 span {
  display: block;
}
#capa .content .subtitulo {
  color: #222;
  margin-left: auto;
  padding-right: 2%;
  width: 70%;
}
#capa .content .logo {
  absolute: bottom 20px right 6%;
  font-size: 400px;
}
#capa .aovivo {
  line-height: 1.1;
  text-align: right;
  padding: 4% 6%;
}
#capa .aovivo div {
  color: #333;
  font-size: 225%;
  font-weight: normal;
}
#capa .aovivo a {
  color: #000;
  display: block;
  font-size: 680%;
  text-decoration: none;
}
#capa .aovivo span {
  color: #c00f0f;
}
#capa .audience h1 {
  color: #f90;
}
#capa .audience .erro {
  display: none;
}
.no-websocket #capa .audience .erro {
  display: block;
  background: #c00f0f;
  padding: 0.2em;
}
#quem .content {
  background: transparent url("/img/palestra/sergio-lopes.jpg") no-repeat bottom center;
  background-size: cover;
}
#quem .content h1 {
  background: none;
  color: #2d8aa8;
  font-size: 1000%;
  padding-right: 2%;
  padding-top: 6%;
  line-height: 0.8;
  text-align: right;
  text-transform: lowercase;
}
#quem .content h1 span {
  display: block;
}
#quem .content ul {
  margin-top: 1.8em;
  padding-right: 2%;
}
#quem .content ul li {
  padding: 0;
  list-style-type: none;
  text-align: right;
}
#quem .content ul a {
  color: #f36c13;
  text-decoration: none;
}
#quem .content .logo {
  absolute: bottom 190px right 10px;
  font-size: 400px;
}
#audience .content {
  background: #f90;
  padding: 0;
}
#audience .content h1 {
  color: #fff;
  font-size: 600%;
  text-align: center;
}
#audience .content .room-linker {
  text-align: center;
}
#audience .content .room-linker a {
  font-size: 500%;
  line-height: 1.2;
  color: #fff;
  display: block;
  text-decoration: none;
}
#audience .content p {
  font-size: 200%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.destaque .content {
  background: #3299bb;
  line-height: 768px;
  padding: 0;
  text-align: center;
}
.destaque .content h1 {
  background: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 0.8;
  text-transform: lowercase;
}
.destaque .content h1 span {
  display: block;
}
.destaque .content h1 span:first-child {
  color: #f0f0d8;
  font-size: 170%;
}
.destaque .content h1 span:last-child {
  color: #f5e617;
  font-size: 210%;
}
.destaque .content h2 {
  absolute: bottom 10% right 10%;
  font-size: 400%;
  color: #333;
}
#responsive h1 {
  background: none;
  font-size: 1100%;
  line-height: 0.85;
  color: #f36c13;
  padding: 0;
  margin: 1.1em 0 0;
  text-transform: lowercase;
  text-align: center;
}
#responsive h1 span {
  display: block;
  background: #ccccd0;
  z-index: 3;
}
#responsive h1:before,
#responsive h1:after,
#responsive h1 span:after,
#responsive h1 span:before {
  color: #3299bb;
  font-family: Times, 'Lucida Sans', 'Arial Unicode MS', sans-serif;
  font-size: 160%;
  z-index: 0;
}
#responsive h1 span:first-child:before {
  content: '\21E0';
  absolute: left top 50%;
  line-height: 0;
  z-index: 2;
}
#responsive h1 span:first-child:after {
  content: '\21E2';
  absolute: right top 50%;
  line-height: 0;
  z-index: 2;
}
#responsive h1:before {
  content: '\21E1';
  absolute: left top;
  display: block;
  vertical-align: top;
  text-align: center;
  width: 100%;
}
#responsive h1:after {
  content: '\21E3';
  absolute: left bottom 5.5%;
  display: block;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
}
#mediaqueries h1 {
  background: none;
  vertical-align: middle;
  text-align: left;
  margin: 0;
  font-size: 800%;
}
#mediaqueries h1 div {
  display: inline-block;
}
#mediaqueries h1 span:first-child {
  color: #f36c13;
  text-transform: lowercase;
}
#mediaqueries h1 span:last-child {
  display: inline-block;
  width: 300px;
  color: #3299bb;
  line-height: 0.8;
  text-transform: uppercase;
}
.iphone {
  background: #333;
  border-radius: 2em;
  position: relative;
.iphone .browser {
			background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		}
}
.iphone.portrait {
  width: 15em;
  height: 28.125em;
}
.iphone.portrait:before,
.iphone.portrait .hotzone,
.iphone.portrait .screen,
.iphone.portrait .browser {
  absolute: left 0.625em top 4.375em;
  height: 18.375em;
  width: 13.75em;
}
.iphone.portrait:after {
  absolute: left 6.0625em bottom 1.25em;
}
.iphone.portrait .hotzone:before {
  content: '';
  absolute: left -11.875em top -2.5em;
  border-style: solid;
  border-width: 12.1875em;
  border-radius: 62.5em;
  height: 62.5em;
  width: 62.5em;
}
.iphone.landscape {
  width: 28.125em;
  height: 15em;
}
.iphone.landscape:before,
.iphone.landscape .hotzone,
.iphone.landscape .screen,
.iphone.landscape .browser {
  absolute: left 4.375em top 0.625em;
  height: 13.75em;
  width: 18.375em;
}
.iphone.landscape:after {
  absolute: right 1.25em bottom 6.0625em;
}
.iphone.landscape .hotzone:before,
.iphone.landscape .hotzone:after {
  content: '';
  absolute: left -19.5em top -6.875em;
  border-style: solid;
  border-width: 13.75em;
  border-radius: 13.75em;
}
.iphone.landscape .hotzone:after {
  left: auto;
  right: -19.5em;
}
.iphone:before {
  content: '';
  background: #555;
}
.iphone:after {
  content: '';
  border: 1.5625em solid #555;
  border-radius: 1.5625em;
}
.iphone .hotzone {
  overflow: hidden;
}
.iphone .hotzone:before,
.iphone .hotzone:after {
  border-color: #ffd700;
}
.iphone .screen {
  background: #fff;
  overflow: hidden;
}
.iphone .browser {
  background-color: #f90;
  background-size: 15px 15px;
}
.iphone .browser {
  border-top: 0.8em solid #bbb;
  border-bottom: 1.5em solid #3299bb;
  position: relative;
}
.iphone .browser:before {
  content: '';
  absolute: top left;
  height: 2.2em;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border: 0.5em solid #3299bb;
}
.iphone .browser {
			background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		}
#sitemobile .iphone {
  font-size: 25px;
  absolute: top 10px right 32px;
}
#sitemobile .iphone h1 {
  color: #f36c13;
  margin-top: 30px;
  text-align: center;
  text-transform: lowercase;
}
#sitemobile h2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: transparent;
  overflow: hidden;
}
#sitemobile h2:after {
  content: ' m.site.com m.site.com m.site.com  m.site.com  m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com m.site.com  m.site.com  m.site.com  m.site.com  m.site.com  m.site.com  m.site.com m.site.com m.site.com';
  absolute: top -20px left 10px;
  color: #b0b0b0;
  font-size: 230%;
  line-height: 1.1;
  z-index: -1;
  width: 1200px;
}
#sitemobile h2:before {
  content: 'm.site.com';
  absolute: bottom 184px left 10px;
  background: #ccccd0;
  color: #333;
  font-size: 230%;
  line-height: 1.1;
}
#redirects h1 {
  background: none;
  font-size: 700%;
  line-height: 0.8;
  text-align: left;
  text-transform: lowercase;
  margin-bottom: 1.5em;
}
#redirects h1 span {
  display: block;
}
#redirects h1 span:first-child {
  color: #f36c13;
}
#redirects h1 span:last-child {
  color: #3299bb;
  font-size: 168%;
}
#redirects ul {
  color: #333;
  absolute: top right;
  width: 50%;
}
#redirects ul li {
  margin-bottom: 1em;
}
#redirects ul .redirect {
  color: #555;
  line-height: 0.8;
  text-align: center;
  width: 80%;
}
#redirects ul .redirect span {
  color: #f36c13;
  display: block;
}
#zoom h1,
#zoom2 h1,
#scroll h1 {
  font-size: 700%;
  margin: 0;
}
#zoom .audience h2,
#zoom2 .audience h2,
#scroll .audience h2 {
  font-size: 250%;
}
#zoom .audience .peq,
#zoom2 .audience .peq,
#scroll .audience .peq {
  font-size: 4px;
  -webkit-text-size-adjust: none;
}
#zoom .audience button,
#zoom2 .audience button,
#scroll .audience button {
  margin: 1em 0;
  font-size: 120%;
}
#scroll h1 {
  padding-right: 350px;
  line-height: 0.8;
}
#scroll h1 b {
  display: block;
  line-height: 1.2;
}
#scroll .iphone {
  absolute: right bottom 40px;
  margin: 1em;
  font-size: 21px;
}
#scroll .highlight {
  margin-top: 150px;
  width: 500px;
}
#hotzones .content {
  text-align: center;
}
#hotzones h1 {
  background: none;
  font-size: 1000%;
  line-height: 0.73;
  text-align: right;
  padding: 0 10px 0 0;
  margin: 0;
}
#hotzones h1 span {
  display: block;
  text-transform: uppercase;
}
#hotzones h1 .h {
  color: #f36c13;
}
#hotzones h1 .z {
  color: #444;
  padding-right: 17px;
}
#hotzones h1 .u {
  absolute: top left;
  font-size: 220%;
  line-height: 0.6;
  color: #ddd;
  z-index: -1;
}
#hotzones .iphone {
  display: inline-block;
  vertical-align: middle;
  margin: 2em;
}
#hotzones .audience button {
  absolute: bottom 3px right 3px;
  font-size: 110%;
  height: 44px;
}
html.height100.audience-mode,
.height100.audience-mode body,
.height100.audience-mode .presentation,
.height100.audience-mode .slide,
.height100.audience-mode .slide .audience {
  height: 100% !important;
}
#orientation .highlight {
  margin-top: 8em;
}
#orientationchange .highlight {
  margin-top: 2em;
}
#mobilize figure {
  font-size: 650%;
  margin-bottom: 2em;
}
#mobilize blockquote {
  color: #3299bb;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  text-align: right;
}
#mobilize blockquote:before,
#mobilize blockquote:after {
  content: '\00AB';
  color: #b0b0b0;
}
#mobilize blockquote:after {
  content: '\00BB';
}
#mobilize figcaption {
  color: #333;
  font-size: 50%;
  padding-right: 1em;
  text-align: right;
}
#mobilize figcaption:before {
  content: '';
}
#mobilize b {
  color: #f36c13;
  font-weight: normal;
}
#mobilize figure:first-child:after {
  content: '\21CB';
  absolute: top 42% left;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 300%;
  color: #b0b0b0;
  line-height: 0;
  z-index: -1;
  font-family: Arial, Times, 'Lucida Sans', 'Arial Unicode MS', sans-serif;
}
#dedo .audience .bolinhas {
  padding: 20px 0;
  text-align: center;
}
#dedo .audience .bolinhas span {
  background: #f90;
  display: inline-block;
  border-radius: 100px;
  margin-right: 1px;
  height: 8px;
  width: 8px;
}
#hover h1 {
  padding: 0;
  text-align: center;
  text-transform: lowercase;
  font-size: 800%;
  line-height: 1;
}
#hover h1 span:first-child {
  color: transparent;
}
#hover h1 span:first-child:before {
  content: "esqueça";
  background: #ccccd0;
  padding-bottom: 50px;
  absolute: top 376px right 11px;
  color: #333;
  line-height: 0.5;
  z-index: 2;
}
#hover h1 span:first-child:after {
  content: "esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça esqueça";
  absolute: top -40px left;
  color: #b0b0b0;
}
#hover h1 span:last-child {
  background: #ccccd0;
  color: #f36c13;
  absolute: top 498px right 11px;
  line-height: 0.6;
  padding-bottom: 44px;
  padding-left: 100px;
}
#gestos h1,
#gestos2 h1 {
  text-align: center;
}
#gestos img,
#gestos2 img {
  display: block;
  margin: 0 auto;
  height: 550px;
  width: 550px;
}
#gestos .highlight,
#gestos2 .highlight {
  margin: 0 auto;
  width: 800px;
}
#gestos .audience p,
#gestos2 .audience p {
  padding: 1em 0;
}
#gestos .audience .touchme,
#gestos2 .audience .touchme {
  background: #ffd700;
  height: 200px;
  line-height: 200px;
  width: 100%;
  color: #333;
  font-size: 200%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.input .content h1 {
  line-height: 0.8;
}
.input .content h1 span {
  text-transform: lowercase;
}
.input .content h1 span,
.input .content h1 b {
  display: block;
}
.input .content section {
  float: left;
  margin: 0;
  padding: 5% 2% 5%;
  width: 50%;
}
.input .content section img {
  display: block;
  margin: 0 auto;
}
.exemplo-form label,
.exemplo-form input {
  display: block;
  vertical-align: middle;
  width: 100%;
}
.exemplo-form label {
  font-size: 160%;
}
.exemplo-form input {
  border: 3px solid #3299bb;
  font-size: 160%;
  margin: 0.2em 0 0.5em;
  padding: 0.2em;
}
.exemplo-form .label-left {
  line-height: 2em;
}
.exemplo-form .label-left input {
  float: right;
  font-size: 100%;
  width: 80%;
}
.exemplo-form input[type=checkbox] {
  display: inline;
  margin: 0;
  width: auto;
}
.exemplo-form button {
  background: #f90;
  border: none;
  display: inline-block;
  font-size: 180%;
  padding: 0.5em;
  margin: 0.5em 0;
  width: auto;
}
.exemplo-form button:active {
  margin-top: 0.6em;
}
#input-date section + section {
  padding: 0 2%;
}
#form-attrs h1 {
  font-size: 700%;
  margin: 0.7em 0;
  line-height: 1;
  text-transform: lowercase;
}
#form-attrs h1 b {
  display: block;
  font-size: 130%;
  text-transform: uppercase;
}
#form-attrs h2 {
  text-align: right;
}
.iphone.form {
  absolute: top 30px right 10px;
  font-size: 24px;
}
.iphone.form .screen {
  padding: 0 4% 4%;
}
.iphone.form input[type=text] {
  display: block;
  font-size: 160%;
  line-height: 1.5;
  vertical-align: middle;
  border: 3px solid #333;
  width: 100%;
  color: #333;
}
.iphone.form input[type=checkbox] {
  display: inline;
  transform: scale(1.8) translate(2px, -4px);
}
.iphone.form label {
  color: #f36c13;
  display: block;
  font-size: 160%;
  line-height: 1.2;
  margin-top: 20px;
}
.iphone.form label span {
  color: #444;
  padding-left: 10px;
}
.iphone.form button {
  border: none;
  background: #3299bb;
  color: #fff;
  padding: 8px;
  margin-top: 20px;
  font-size: 170%;
}
#geolocation h1,
#usermedia h1 {
  line-height: 0.82;
  margin: 0;
  text-transform: uppercase;
}
#geolocation h1 b,
#usermedia h1 b {
  display: block;
  font-size: 62.5%;
}
#geolocation h2,
#usermedia h2 {
  color: #333;
  line-height: 0.9;
  margin: 7% 0 3%;
  font-size: 400%;
  text-transform: uppercase;
}
#geolocation h2:last-child,
#usermedia h2:last-child {
  color: #555;
  text-align: right;
  text-transform: none;
}
#geolocation .iphone input[name='cidade'],
#usermedia .iphone input[name='cidade'] {
  display: inline-block;
  width: 75%;
}
#geolocation .iphone svg,
#usermedia .iphone svg {
  display: inline-block;
  relative: top 22px left 4px;
}
#geolocation .highlight {
  margin: 0 10px;
  width: 630px;
}
#geolocation .audience label,
#geolocation .audience input {
  font-size: 180%;
  padding: 0.5em 0.1em;
}
#geolocation .audience label {
  display: block;
}
#geolocation .audience input {
  border: 4px solid #3299bb;
  width: 75%;
  vertical-align: middle;
}
#geolocation .audience .icone {
  background: #ffd700;
  display: inline-block;
  height: 60px;
  width: 60px;
  vertical-align: middle;
  font-size: 500%;
  color: #333;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
}
#geolocation .audience svg {
  height: 50px;
  width: 50px;
}
#geolocation .audience .debug {
  padding: 1em 0;
}
#form-ux h1 {
  background: none;
  font-size: 1200%;
  line-height: 0.73;
  text-align: right;
  padding: 1% 44% 0 0;
  margin: 0;
}
#form-ux h1 span {
  display: block;
  text-transform: uppercase;
}
#form-ux h1 .h {
  color: #f36c13;
}
#form-ux h1 .z {
  color: #3299bb;
  padding-right: 5px;
}
#form-ux ul {
  padding-right: 42%;
  padding-top: 3%;
}
#form-js h1 {
  font-size: 800%;
  line-height: 0.8;
}
#form-js h1 span {
  display: block;
  color: #333;
  font-size: 57%;
  text-transform: uppercase;
  word-spacing: 0.2em;
}
#form-js h2 {
  background: #3299bb;
  color: #fff;
  font-size: 400%;
  padding: 0 0.2em 0.1em;
}
#form-js h2:after {
  content: ":";
}
#form-js label {
  display: block;
  font-size: 320%;
  padding: 0.4em 0;
}
#form-js .textareas {
  absolute: left 2% top 27%;
  width: 46%;
}
#form-js .textareas textarea {
  font-family: Arial;
  font-size: 200%;
  resize: none;
  border: 3px solid #333;
  overflow: hidden;
  width: 100%;
  height: 1.5em;
}
#form-js .textareas textarea:last-child {
  height: 5em;
  margin-top: 3.5em;
}
#form-js .textareas:after {
  content: '\2193';
  color: #333;
  font-size: 600%;
  absolute: bottom 220px left 0;
  width: 100%;
  text-align: center;
}
#form-js .emails {
  absolute: right 2% top 27%;
  width: 46%;
}
#form-js .emails input {
  border: 3px solid #333;
  font-size: 260%;
  padding: 4px;
  width: 100%;
}
#form-js .emails p {
  color: #444;
  font-size: 250%;
  margin: 0.2em 0;
  text-align: right;
}
#form-js .emails p b {
  color: #194d5e;
  font-weight: normal;
  text-decoration: underline;
}
#esquecer h1 {
  position: relative;
  margin-top: 100px;
  padding: 2%;
}
#esquecer h1 span {
  display: block;
  text-transform: uppercase;
  font-size: 75%;
  color: #f36c13;
  line-height: 0.9;
  text-align: right;
  width: 200px;
}
#esquecer h1 .e {
  absolute: top left 240px;
  width: auto;
  color: #3299bb;
  font-size: 270%;
  line-height: 0.85;
  text-transform: uppercase;
}
#esquecer ul {
  list-style-type: none;
  text-align: right;
  color: #333;
}
#esquecer ul li {
  padding: 10px 5%;
  font-size: 400%;
}
#latencia .content {
  background: #ccccd0;
}
#latencia h1 {
  background: none;
  font-size: 1200%;
  text-align: center;
  absolute: bottom 100px left 0;
}
#latencia h1 span {
  display: block;
  line-height: 0.9;
}
#latencia h1 span:first-child {
  color: #333;
  text-transform: lowercase;
}
#latencia h1 span:last-child {
  color: #3299bb;
  font-size: 190%;
  font-weight: bold;
  text-transform: uppercase;
}
#latencia h2 {
  color: #f36c13;
  absolute: bottom 50px right 20px;
  font-weight: normal;
}
#localstorage h1 {
  line-height: 0.88;
  margin-bottom: 0.25em;
  font-size: 850%;
}
#localstorage h1 b {
  display: block;
  font-size: 115%;
}
#localstorage h1 span {
  text-transform: lowercase;
}
.ul-pontos {
  font-size: 130%;
  text-align: center;
}
.ul-pontos li {
  display: inline-block;
  list-style-type: none;
  padding: 0 0.3em 0.2em;
  margin: 0.28em;
  background: #333;
  border-radius: 10px;
  color: #fff;
}
.ul-simples {
  list-style-type: none;
  text-align: right;
  color: #333;
}
.ul-simples li {
  padding: 10px 5%;
  font-size: 400%;
}
#limitacoes h1 {
  font-size: 900%;
  text-align: center;
  margin: 0;
  line-height: 0.8;
}
#limitacoes h1 span {
  text-transform: lowercase;
}
#limitacoes h1 b {
  font-weight: normal;
  font-size: 168%;
}
#limitacoes ul {
  font-size: 210%;
}
#frameworks h1 {
  background: none;
  position: relative;
  margin-top: 200px;
  padding: 2%;
}
#frameworks h1 span {
  display: block;
  text-transform: uppercase;
  font-size: 75%;
  color: #f36c13;
  line-height: 1;
  text-align: left;
  padding-left: 580px;
  width: 980px;
}
#frameworks h1 .e {
  absolute: top left 24px;
  padding: 0;
  width: auto;
  color: #3299bb;
  font-size: 350%;
  line-height: 0.17;
  text-transform: uppercase;
}
#frameworks li:first-child {
  font-weight: bold;
}
#displaynone h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 1000%;
  line-height: 0.8;
}
#displaynone h1 code {
  absolute: top 480px left;
  width: 100%;
  z-index: 2;
  background: #ccccd0;
  color: #333;
  text-align: center;
  font-size: 79%;
  padding: 0.1em;
}
#displaynone h1 span {
  color: transparent;
}
#displaynone h1 span:before {
  content: 'nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca nunca';
  absolute: top -40px left -10px;
  color: #f36c13;
  width: 1400px;
}
#fastbutton .content h1 {
  font-size: 1200%;
  font-weight: bold;
  line-height: 0.75;
  padding-left: 50%;
  margin-bottom: 0.6em;
  text-align: left;
  text-transform: uppercase;
  transform: skewX(-25deg);
  text-shadow: -485px 10px 30px rgba(30,30,30,0.35);
}
#fastbutton .content h1 span {
  display: block;
}
#fastbutton .content h1 span:first-child {
  color: #f36c13;
  font-size: 130%;
  letter-spacing: 10px;
}
#fastbutton .content h1 span:last-child {
  color: #333;
}
#fastbutton .audience h2 {
  text-align: center;
}
#fastbutton .audience h2 .v {
  color: #777;
}
#fastbutton .audience .buttons {
  text-align: center;
}
#fastbutton .audience .tap,
#fastbutton .audience .click {
  display: inline-block;
  background: #ffd700;
  border-radius: 0.3em;
  color: #333;
  font-size: 200%;
  padding: 0.8em 0;
  margin: 0.5em;
  width: 40%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#animacoes .content h1 {
  font-size: 2000%;
  line-height: 0.8;
  position: relative;
  margin-left: 40px;
  margin-bottom: 120px;
  transform: translateZ(0);
}
#animacoes .content h1 b {
  color: #3299bb;
  font-weight: bold;
  display: block;
}
#animacoes .content ul {
  font-size: 130%;
  absolute: top right;
  text-align: right;
  width: 500px;
  padding-right: 20px;
}
#animacoes .content ul li {
  color: #fff;
  background: #333;
  border-radius: 5px;
  display: inline-block;
  list-style-type: none;
  margin: 0.2em;
  padding: 0 0.3em 0.1em;
  animation-iteration-count: 1;
}
#animacoes .content ul li:nth-child(1) {
  animation: desce 1.5s ease-out;
}
#animacoes .content ul li:nth-child(2) {
  animation: desce-lento 2.5s ease-out;
}
#animacoes .content ul li:nth-child(3) {
  animation: desce-mais-lento 3.5s ease-out;
}
#animacoes .audience {
  transform: translateZ(0);
}
#animacoes .audience h1 {
  font-size: 300%;
  animation: lightSpeedIn 1s linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#animacoes .audience h2 {
  font-size: 250%;
  animation: rollIn 2s linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#aceleracao h1 {
  line-height: 0.9;
  margin: 0.5em 0;
  font-size: 900%;
}
#aceleracao h1 span {
  display: block;
  text-transform: uppercase;
  color: #555;
  font-size: 70%;
}
#aceleracao h1 b {
  display: block;
  color: #3299bb;
}
#deviceratio h1 {
  font-size: 700%;
  line-height: 0.85;
  margin-bottom: 0.2em;
  text-transform: lowercase;
}
#deviceratio h1 b {
  display: block;
  font-size: 105%;
}
.font-caelum {
  font-size: 600px;
  height: 0.276em;
  width: 0.79em;
  position: relative;
  display: inline-block;
}
.font-caelum:before {
  content: 'C';
  font-family: Caelum;
  line-height: 1;
  absolute: top -0.35em left 0.02em;
}
.stripes {
		background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
		background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	}
#graficos .content {
  background-color: #f90;
  background-size: 50px 50px;
  border-radius: top 50px;
}
#graficos h1 {
  background: rgba(255,255,255,0.3);
  color: #3299bb;
  font-size: 700%;
  border-radius: top 50px;
  text-align: center;
}
#graficos .basquete1 {
  background-size: 350px 350px;
  height: 350px;
  width: 350px;
  background: url("/img/palestra/mobile-web/basquete.svg") no-repeat;
  display: inline-block;
}
#graficos .basquete2 {
  background-size: 180px 180px;
  height: 180px;
  width: 180px;
  background: url("/img/palestra/mobile-web/basquete.svg") no-repeat;
  display: inline-block;
}
#graficos .bolas {
  absolute: left 20px bottom 55px;
  width: 400px;
  text-align: center;
}
#graficos .logos {
  absolute: right 20px bottom 55px;
  width: 500px;
}
#graficos .font-caelum.ex1 {
  color: #000;
}
#graficos .font-caelum.ex2 {
  color: transparent;
  text-shadow: 0 0 7px #1e5c70;
}
#graficos .font-caelum.ex3 {
  color: #fff;
  border-radius: 10px;
}
#graficos .audience .font-caelum {
  font-size: 300px;
  margin: 20px 0;
}
#graficos .audience .gradiente {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(top left, #f36c13, #f5e617);
  border-radius: 15px;
}
#mais-integrado h1 span:nth-child(2) {
  color: #f0f0d8;
  padding-top: 35px;
  line-height: 0.4;
  font-size: 140%;
}
#protocolos h1,
#webapp h1,
#apis h1 {
  font-size: 800%;
}
#apis h1 {
  text-align: center;
}
#conclusao .content {
  background: #f90;
}
#conclusao h1 {
  color: #222;
  border-bottom: 10px solid #f36c13;
  font-size: 400%;
  line-height: 0.95;
  width: 94%;
  padding: 3.1%;
  margin: 0 auto;
}
#conclusao h1:last-child {
  border: none;
}
#fim .content {
  background: #f90;
}
#fim .content h1 {
  color: #c7550a;
  font-size: 2100%;
  text-align: center;
}
#fim .content .contato a {
  color: #222;
  display: block;
  font-size: 700%;
  text-align: right;
  line-height: 1.3;
  text-decoration: none;
  padding-right: 50px;
}
#fim .content .logo {
  position: absolute;
  bottom: 210px;
  left: 40px;
  font-size: 450px;
}
@-moz-keyframes desce {
  0% {
    transform: translateX(450px);
  }

  80% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes desce {
  0% {
    transform: translateX(450px);
  }

  80% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-o-keyframes desce {
  0% {
    transform: translateX(450px);
  }

  80% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-ms-keyframes desce {
  0% {
    transform: translateX(450px);
  }

  80% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@keyframes desce {
  0% {
    transform: translateX(450px);
  }

  80% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-moz-keyframes desce-lento {
  0% {
    transform: translateX(450px);
  }

  90% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes desce-lento {
  0% {
    transform: translateX(450px);
  }

  90% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-o-keyframes desce-lento {
  0% {
    transform: translateX(450px);
  }

  90% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-ms-keyframes desce-lento {
  0% {
    transform: translateX(450px);
  }

  90% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@keyframes desce-lento {
  0% {
    transform: translateX(450px);
  }

  90% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-moz-keyframes desce-mais-lento {
  0% {
    transform: translateX(450px);
  }

  95% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes desce-mais-lento {
  0% {
    transform: translateX(450px);
  }

  95% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-o-keyframes desce-mais-lento {
  0% {
    transform: translateX(450px);
  }

  95% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-ms-keyframes desce-mais-lento {
  0% {
    transform: translateX(450px);
  }

  95% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@keyframes desce-mais-lento {
  0% {
    transform: translateX(450px);
  }

  95% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(0px);
  }
}
@-moz-keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@-o-keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@-ms-keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@-moz-keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
@-o-keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
@-ms-keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
