@import 'nib'

// palheta de cores
laranja = #F90
laranja_escuro = #F36C13
azul = #3299BB
fundo = #ccccd0
cinza = #333
fundo_letra = #b0b0b0

vermelho = #C00F0F
laranja_meio = #ff6828
amarelo = #FFD700
amarelo_claro = #F5E617
branco = #F0F0D8
marrom = #5E412F
verde = #0FC00F

// icon font Caelum
@font-face {
	font-family: Caelum;
	src: url(/img/palestra/mobile-web/caelum-logo.ttf)
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: url(/img/palestra/mobile-web/YanoneKaffeesatz-Bold.ttf);
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url(/img/palestra/mobile-web/YanoneKaffeesatz-Regular.ttf);
}


.slide .content
	background-color: fundo
	padding: 0;

	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 16px; // unifica default por causa do mobile
	-webkit-text-size-adjust: none

	 h1 
		color: azul
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: normal

		font-size: 6em;
		line-height: 1.2;
		text-align: left

		margin: 0;
		padding: 0 2%;
		margin-bottom: 32px

		b
			color: laranja_escuro
			font-weight: bold

	h2 
		color: cinza;
		font-family: 'Yanone Kaffeesatz', sans-serif;	
		font-size: 3em;
		line-height: 1.2;

		margin: 0;
		padding: 0 2%;

.slide .audience, .slide .notes
	b
		color: amarelo_claro
		font-weight: normal

	a
		color: laranja

		&:visited
			color: laranja_meio

.highlight {
	margin: 22px;

	pre {
		padding-top: 0.5em
	}

	pre code:before {
		content: ''
		background: laranja_escuro
		box-shadow: none
		height: 12px
	}
}


/** SLIDE SPECIFICS **/
@import 'mobile-web-slides'


.notes
	font-family: Arial;
	padding: 0.5em;

.bars
	.content
		background: black

		// main heading
		.poster
			absolute: top 0.1em left 0.1em
			font-family: Arial, sans-serif
			line-height: 1em
			font-size: 170%
			color: #999

			span
				color: azul

		// small oval client counter
		.sync-clients
			absolute: top 0.4em right 0.1em

			border-radius: 1000px;
			display: inline-block;
			padding: 0

			font-family: Arial;
			font-size: 82%
			line-height: 1.8em
			width: 1.8em

			text-align: center
			vertical-align: middle

			.sync-online &
				background-color: #758918
			
			.sync-offline &
				background-color: #DE3C2F

	.audience, .site
		background: #222 url(/img/base/noise.png);
		box-shadow: 0 0 6px rgba(255,255,255,0.25)
		height: 100%
		width: 100%

		// navigation button
		.b
			background: azul
			border-radius: 0.3em
			color: white
			cursor: pointer
			text-align: center

			display: inline-block	

			padding: 0 0.6em
			line-height: 2.5em
			vertical-align: top
			margin-top: 0.23em

		// window title
		.title
			absolute: top 0 left 0.25em
			color: #ccc
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-size: 150%
			line-height: 1.8em

			span
				display: none
				margin-left: 0.3em
				border: 6px solid white;
				border-radius: 1000px

			.sync-online & .aovivo
				border-color: verde
				display: inline-block
			.sync-offline & .desconectado
				border-color: vermelho
				display: inline-block

		// manual sync for incompatible clients
		.manual-sync
			background: #292929 url(/img/base/noise.png);
			box-shadow: 0 0 6px rgba(255,255,255,0.25)
			color: white
			line-height: 3em
			font-size: 90%

			.do-sync
				cursor: pointer
				background: vermelho
				line-height: 2
				display: inline-block
				border-radius: 0.3em
				color: white
				padding: 0.1em 0.4em
				text-align: center

				.doing-manual-sync &
					background: cinza
					color: #777 


/** AUDIENCE MODE **/

.audience-mode, .site-mode 
	body 
		background: #121212

.slide .audience, .initial-info
	padding: 0.8em 0.5em
	text-align: left

	h1
		color: laranja
		font-size: 180%
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: normal
		line-height: 1.2
		margin: 0

	h2
		color: azul
		font-size: 150%
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: normal
		line-height: 1.2
		margin: 0

	p
		color: white
		line-height: 1.3
		padding: 0.5em 0
		margin: 0

	a
		color: laranja_escuro

	.ps
		color: #999
		clear: both

	.erro
		display: none

.no-websocket .initial-info .erro
	display: block
	background: vermelho
	padding: 0.2em

.initial-info .close-info
	cursor: pointer
	background: azul
	display: inline-block
	border-radius: 0.3em
	color: white
	padding: 0.4em 0.6em
	margin: 1em 0
	text-align: center

#mediaqueries .audience { background-color: laranja_escuro;}

@media (min-width: 401px) {
	#mediaqueries .audience { background-color: azul; }
}
@media (min-width: 580px) {
	#mediaqueries .audience { background-color: vermelho; }
}
@media (min-width: 800px) {
	#mediaqueries .audience { background-color: laranja; }
}
@media (min-width: 1100px) {
	#mediaqueries .audience { background-color: fundo_letra; }
}


/*** SITE MODE ***/
// .site-mode
// 	body
// 		background: black
// 	.notes
// 		background: white
// 		color: black

