/* BASE */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5em;
}
code {
  font-family: 'Droid Sans Mono', 'Bitstream Vera Sans Mono', 'Courier', monospace;
}
pre code {
  font-size: 87.5%;
/* 14px */
}
@media only screen and (max-width: 599px) {
  body {
    font-size: 87.5%;
  }
}
/* PRESENTATION STRUCTURE */
.presentation {
  position: relative;
  max-width: none;
  margin: 0;
  width: 100%;
}
/* 1 slide */
.slide {
/* 4:3 flexible box */
  padding-top: 75%;
  height: 0;
  width: 100%;
  position: relative;
/* hide all slides */
  display: none;
/* shows only active */
}
.slide.active {
  display: block;
}
.slide .content {
  position: absolute;
  top: 0;
  right: 0;
/* slide size. 4:3 fixed */
  height: 768px;
  width: 1024px;
  overflow: hidden;
/* prepare to scale */
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}
/* hides notes and audience */
.slide .notes,
.slide .audience {
  display: none;
}
/* loading spinner */
.loading {
  position: absolute;
  top: 200px;
  left: 0;
  display: block;
  color: #fff;
  font-size: 1000%;
  line-height: 0;
  text-align: center;
  width: 100%;
  -webkit-animation: loading 1.5s linear infinite;
  -moz-animation: loading 1.5s linear infinite;
  -o-animation: loading 1.5s linear infinite;
  -ms-animation: loading 1.5s linear infinite;
  animation: loading 1.5s linear infinite;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}
.bars {
  display: none;
  width: 100%;
}
.bars > div {
  display: none;
}
/**
    PRESENTATION MODE
**/
html.presentation-mode,
.presentation-mode body,
.presentation-mode .presentation {
  height: 100%;
  width: 100%;
}
.presentation-mode .audience,
.presentation-mode .notes {
  display: none;
}
.presentation-mode .loading {
  display: none;
}
.presentation-mode .bars {
  display: block;
}
.presentation-mode .bars .content {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -32em;
  overflow: hidden;
  height: 2em;
  width: 64em;
  padding: 0 4em;
  color: #fff;
}
/* prevent scroll */
.presentation-mode body,
.presentation-mode html,
.presentation-mode .presentation {
  overflow: hidden;
}
.presentation-mode .presentation {
  margin: 0 auto;
  width: 100%;
}
/* hide audience and presentation notes */
.presentation-mode .slide .notes,
.presentation-mode .slide .audience {
  display: none;
}
/***
    SITE MODE
 ***/
.site-mode .presentation {
  display: block;
  margin: 3em auto;
  max-width: 700px;
}
.site-mode .slide {
  height: auto;
  overflow: visible;
  margin-bottom: 1em;
}
.site-mode .notes {
  display: block;
  padding: 0.5em 1em;
  width: 100%;
}
.site-mode .bars {
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  display: block;
}
.site-mode .bars .site {
  display: block;
}
.site-mode .loading {
  display: none;
}
@media (min-width: 800px) and (orientation: landscape), (min-width: 1200px) {
  .site-mode .presentation {
    margin-right: 0;
    max-width: none;
    width: 50%;
  }
  .site-mode .slide {
    padding-top: 0;
  }
  .site-mode .slide .content {
    left: -1024px;
  }
}
/***
    AUDIENCE MODE
 ***/
.audience-mode .content,
.audience-mode .notes {
  display: none;
}
.audience-mode .loading {
  display: none;
}
.audience-mode .slide {
  height: auto;
}
.audience-mode .slide .content {
  display: block;
}
.audience-mode .bars {
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  display: block;
}
.audience-mode .bars .audience {
  display: block;
}
.audience-mode .slide.audience-active {
  display: block;
/* show audience notes */
/* hide slide from background rendering */
}
.audience-mode .slide.audience-active .audience {
  display: block;
}
.audience-mode .slide.audience-active .content {
  visibility: hidden;
}
.audience-mode .slide.audience-active.active .content {
  visibility: visible;
}
.audience-mode .slide.active {
  position: absolute;
  top: 0;
  left: 0;
}
.audience-mode .slide.audience-active {
  position: relative;
}
.audience-mode .presentation {
  max-width: 500px;
  margin: 3em auto;
  width: 100%;
}
.hide-slide .slide {
  padding-top: 0;
}
.hide-slide .slide .content {
  display: none;
}
.bars .slide-toggle .b:first-child {
  display: inline-block;
}
.bars .slide-toggle .b:last-child {
  display: none;
}
.hide-slide .bars .slide-toggle .b:first-child {
  display: none;
}
.hide-slide .bars .slide-toggle .b:last-child {
  display: inline-block;
}
.slide .audience p {
  margin: 0;
  padding: 1em;
  font-size: 100%;
}
/*************
 BASE LAYOUT
 *************/
body,
.bars {
  background: #000;
}
.slide .content {
  background-color: #f90;
  padding: 5%;
}
.slide .content li,
.slide .content p,
.slide .content blockquote {
  font-size: 3em;
  line-height: 1.2;
}
.slide .notes,
.slide .audience,
.slide .audience p {
  color: #fff;
}
.site-mode .bars {
  text-align: center;
}
.share {
  color: #fff;
  display: inline-block;
  line-height: 3em;
  vertical-align: middle;
}
.share a {
  color: #fff;
  display: inline-block;
  line-height: 2em;
  padding: 0 0.5em;
  line-height: 2.1em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  margin: 0 0.2em;
}
.share .twitter {
  background: #00aced;
}
.share .twitter:hover {
  background: #0099d4;
}
.share .facebook {
  background: #3b5998;
}
.share .facebook:hover {
  background: #344e86;
}
@media (max-width: 880px) {
  .bars .share {
    display: none;
  }
}
.navigation {
  display: inline-block;
  line-height: 3em;
  vertical-align: middle;
  float: right;
  margin-right: 0.5em;
}
.highlight {
  font-size: 1.9em;
}
.presentation-mode-only,
.site-mode-only,
.audience-mode-only,
.show-on-main-room,
.main-room .hide-on-main-room {
  display: none;
}
.presentation-mode .presentation-mode-only,
.audience-mode .audience-mode-only,
.site-mode .site-mode-only,
.main-room .show-on-main-room {
  display: block;
}
@-moz-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
