body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.55;
}

h1 {
	font-family: 'Droid Serif', serif;
	font-size: 2em;
	line-height: 1.4;
	font-weight: 700;
}

h2, h3.fb {
	font-family: 'Droid Serif', serif;
	font-size: 1.6em;
	line-height: 1.4;
	font-weight: 700;
}

h3 {
	font-family: 'Droid Serif', serif;
	font-size: 1.3em;
	line-height: 1.4;
	font-weight: 400;	
}

article.post {
	font-size: 1.125em; /* 18em */
}

code {
  font-family:'Droid Sans Mono', 'Bitstream Vera Sans Mono','Courier', monospace;
}

pre code {
	font-size: 87.5%; /* 14px */
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
	font-weight: 400;
}

header div {
	font-family: 'Droid Serif', serif;
	font-size: 300%;
	font-weight: 700;	
	line-height: normal;
}

nav a {
	font-size: 1.25em;
}
figcaption {
	font-size: 0.875em;
	font-style: italic;	
}