@import "nib"
@import "tema"

/* TEMA (customizacao): cor de fundo do header */
.classic-theme
	cores-header #F90 #555

.dark-theme
	cores-header #F90 #eee #b0d0ff

.light-theme
	cores-header #333 #444 #009


/* HEADER (mobile first) */
.header-item {
	display: inline-block;
	vertical-align: middle;

	text-align: center;
}

.header-foto {
	text-decoration: none;
	overflow: hidden; // esconde sobras da foto no truque do crop
	width: 3.5em; // tamanho padrão da foto em dispositivos móveis

	img {
		display: block;
		border: 0;

		// faz um crop na lateral da imagem 
		margin: 0 -20%;
		max-width: 140%;
	}
}

.header-nome {
	font-size: 1.4em;
	line-height: 0.9;
	text-transform: uppercase;

	margin: 0 0.25em;
	max-width: 4.5em;
}

.header-sobre,
header .extra { /* não mostra o curriculo em telas pequenas */
	display: none;
}


.header-menu {
	font-size: 2.5em;
	line-height: 1.2;
	text-align: center;
	
	.icone {
		display: inline-block;
		text-decoration: none;
		margin-left: 0.1em;

		&:active {
			position: relative;
			top: 1px;
		}
	}
}


/* RESPONSIVE MOBILE FIRST */

/* mostra curriculo do topo em tablets medios */
@media (min-width: 37em) { /* 592px */

	/* curriculo aparece aqui */
	.header-sobre {
		display: inline-block;
		margin: 0 0.5em;
		width: 35%;

		font-size: 0.75em;
		text-align: center;
	}

	.header-nome {
		font-size: 1.6em;
	}

	.header-foto {
		width: 4em;
	}
}

/* aumenta menu em tablets grandes */
@media (min-width: 50em) { /* 800px */
	/* mostra curriculo full */
	header .extra {
		display: inline;
	}
	.header-item {
		width: 14%;
	}
	.header-sobre {
		width: 40%;
	}
	.header-nome {
		font-size: 2em;
		width: 20%;
	}
}

/* header vai pra lateral em telas grandes */
@media (min-width: 60em) { /* 960px */
	header {
		// move header pra esquerda, absoluto
		absolute: top 0 left 0
		width: header-largura;

		text-align: center;

		// sobrescreve background pra usar só borda do body
		&, .themed-body & {
			background-color transparent
		}
	}

	.header-item {
		width: 100%;
	}
	.header-nome {
		margin: 0.8em 0;
	}
	.header-sobre {
		padding: 0 1.25em;
		margin: 0;
	}
	.header-menu {
		margin-top: 0.75em;
	}
	.header-foto img { /* descropa imagem */
		margin: 0;
		max-width: 100%;
	}
}

/* header fixo na lateral se altura for razoável */
@media (min-width: 60em) and (min-height: 40em) {
	header { 
		position: fixed; 
	}
}