/* LISTA HOME */
.posts li {
	margin-bottom: 0.5em;
}
.posts .destaque:before {
	background: #FA6900;
	border-radius: 3px;
	color: white;
	content: 'destaque';
	font-size: 68.75%;
	text-transform: uppercase;
	margin-right: 0.2em;
	padding: 3px 7px;
	vertical-align: middle;
}
.posts .date {
	color: #777;
	font-size: 75%;
	padding-left: 5px;
	text-transform: uppercase;
	vertical-align: baseline;
}


.page-sobre h2 {
	margin: 0;
	padding: 0;
}

/* COMENTARIOS */
.page-comentarios #artigo a { 
	font-style: italic; 
}
.page-comentarios h1 {
	font-size: 1.75em;
	margin-bottom: 0.5em;
}

.fb-comments, 
.fb-comments > span, 
.fb-comments iframe {
	max-width: 600px;
	width: 100% !important;
}