/* LISTA HOME */
.posts li {
	margin-bottom: 0.5em;
}

.posts
	.destaque, .category-review, .category-caelum
		&:before
			border-radius: 3px;
			color: white;
			font-size: 0.65em;
			text-transform: uppercase;
			margin-right: 0.5em;
			padding: 3px 7px;
			vertical-align: middle;

	.destaque:before
		background: #FA6900
		content: 'destaque';

	.category-review:before
		background: #555
		content: 'review'

	.category-caelum:before
		background: #339
		content: 'blog caelum'

.posts .date {
	color: #777;
	font-size: 75%;
	padding-left: 5px;
	text-transform: uppercase;
	vertical-align: baseline;
}


.page-sobre h2 {
	margin: 0;
	padding: 0;
}

/* COMENTARIOS */
.page-comentarios #artigo a { 
	font-style: italic; 
}
.page-comentarios h1 {
	font-size: 1.75em;
	margin-bottom: 0.5em;
}

.fb-comments, 
.fb-comments > span, 
.fb-comments iframe {
	max-width: 600px;
	width: 100% !important;
}