@media only screen and (max-width: 765px) {
	header div {
		margin-top: 0.4em;
	}
	nav.top {
		top: 5.5em;
	}
}

@media only screen and (max-width: 599px) {
	body {
		font-size: 87.5%;
	}
}
@media only screen and (max-width: 540px) {
	header {
		height: auto;
	}
	header img {
		border-width: 0.3em;
		margin: 0.5em 0.5em 0 0.2em;
		height: 90px;
		width: 90px;
	}
	header div {
		font-size: 250%;
		margin-top: 0.8em;
	}
	article h1 {
		padding: 0;
	}
	nav.top {
		right: 0;
		left: auto;
		top: 50%;
		margin-top: -9px;
		width: auto;
	}
	nav.top .menu {
		display: inline-block;
		text-transform: lowercase;
	}
	nav.top ul {
		display: none;
	}
	nav.bottom {
		display: block;
		font-size: 110%;
		margin-top: 6em;
		margin-bottom: 8em;
	}
	nav.bottom li {
		margin: 0 1.3em 1.3em 0;
	}
	nav.bottom a {
		padding: 0.5em 0.7em;
	}

	article h4 {
		margin: 1em auto;
		padding: 0.5em;
		width: 90%;
	}
}

@media only screen and (max-width: 460px) {
	header img {
		border-width: 0.2em;
		margin-right: 0.6em;
		margin-top: 0.4em;
		height: 60px;
		width: 60px;
	}
	header div {
		font-size: 150%;
		margin-top: 1em;
	}
	article.post blockquote {
		margin-left: 0.8em;
		margin-right: 0;
	}
	div#social {
		float: none;
		margin: 0.5em auto;
	}
	nav {
		width: 96%;
	}
}