/* customizacoes de tema pro header */

cores-header(base, texto, link=#0000FD)

	// cor base do logo e icones
	.header-nome
		color base

	.header-menu .icone
		color base

		&:hover
			color lighten(base, 10%)

	// cor do texto
	.header-sobre
		color texto

		a
			color link
