
/* RESET */
*, 
*:after,
*:before
	box-sizing border-box
	padding 0
	margin 0


/* body e base */
body
	font-family 'Arial', sans-serif
	font-weight 400
	line-height 1.55

	/* evita resizes chatos do iOS */
	-webkit-text-size-adjust: 100%;

	fundo-body()

.container
	max-width: 52em;
	padding: 0 2em;
	position: relative;



/* pagina de texto puro como posts e pages (sobre, home) */
.text-page
	color: #333;
	padding: 2.5%;

	// normaliza espaçamentos entre elementos de texto
	p, blockquote
		margin 1.5em 0
	ul
		margin-bottom 1.5em
	li
		margin 0 0 1em 0


/* legibilidade: em torno de 60 caracteres por linha */
.limit-line-length 
	p, li
		max-width: 30em;
	blockquote
		max-width: 32em;

/* listas não devem ser espaçadas */
.narrow-lists li
	margin: 0;

	ul
		margin-top 0
		margin-bottom 0



/* RESPONSIVE: scaling basico da fonte  */
@media (min-width: 37em) { /* 592px */
	body { font-size: 1.125em; /* 18px */ }
}
@media (min-width: 47em) { /* 752px */
	body { font-size: 1.1875em; /* 19px */ }
}
@media (min-width: 68em) { /* 1088px */
	body { font-size: 1.25em; /* 20px */ }
}
@media (min-width: 82em) { /* 1312px */
	body { font-size: 1.375em; /* 22px base */ }
} 
@media (min-width: 100em) { /* 1600px */
	body { font-size: 1.5em; /* 24px base */ }
}

/* RESPONSIVE (mobile first): layout */
@media (min-width: 37em) // 592px
	body
		padding-right 1em

	.text-page
		padding: 1.25em;

@media (min-width: 41em) // 656px
	body
		padding-right 1.5em

	.text-page
		padding: 2em;

