@font-face {
	font-family: 'sergiolopes-org';
	src:url('fonts/sergiolopes-org-1.eot');
	src:url('fonts/sergiolopes-org-1.eot?#iefix') format('embedded-opentype'),
		url('fonts/sergiolopes-org-1.svg#sergiolopes-org') format('svg'),
		url('fonts/sergiolopes-org-1.woff') format('woff'),
		url('fonts/sergiolopes-org-1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'sergiolopes-org';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icone-"]:before {
*/
.icone-feed:before, .icone-twitter:before, .icone-facebook:before, .icone-bubbles:before, .icone-home:before, .icone-star:before, .icone-new-tab:before {
	font-family: 'sergiolopes-org';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icone-feed:before {
	content: "\e000";
}
.icone-twitter:before {
	content: "\e001";
}
.icone-facebook:before {
	content: "\e002";
}
.icone-bubbles:before {
	content: "\e003";
}
.icone-home:before {
	content: "\e007";
}
.icone-star:before {
	content: "\e008";
}
.icone-new-tab:before {
	content: "\e009";
}

// alt
.icone-alt {
	display: none;
}
