/* LISTA HOME */
.page-home
	.posts
		list-style-type none
		margin-left 0

	.one-post
		margin-bottom: 1.5em
		line-height 1.4

	.destaque .post-link:before
		color #F90
		font-size: 1em;
		margin-right: 0.35em;
		
		content: "\e008"
		font-family: 'sergiolopes-org';
		speak: none;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;

		display: inline-block
		text-decoration: none

	.post-category
		font-size: 0.6em;
		text-transform: uppercase;
		padding: 0 0.3em;

		display none // esconde por padrão, só mostra os aprovados
		vertical-align: middle
		text-decoration: none

		&:before, &:after
			font-size 1.2em

		&:before
			content '[ '

		&:after
			content ' ]'

	.post-updated 
		.post-info:after
			content: 'atualizado'
			color: #666
			font-size 0.6em
			font-style italic
			vertical-align: middle


	categoria(cor)
		.post-category
			color cor
			display inline-block

	.category-review 
		categoria #444

	.category-blog-caelum
		categoria #33c

	.category-blog-alura
		categoria #BFA002

	.category-imasters
		categoria #4476ab

	.category-mobile
		categoria #F33

	.category-podcast
		categoria #EB837C

	.category-web
		categoria #393

	.category-otimizacoes
		categoria #D80

	.post-info
		position: relative

	.type-redirect .post-info:after
		color #777
		font-size: 0.9em;
		line-height 0
		
		content: "\e009"
		font-family: 'sergiolopes-org';
		speak: none;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;

		display: inline-block
		text-decoration: none
		vertical-align middle

	.post-date
		color: #777;
		font-size: 75%;
		text-transform: uppercase;
		vertical-align: baseline;


.page-sobre h2 {
	margin: 0;
	padding: 0;
}

/* COMENTARIOS */
.page-comentarios #artigo a { 
	font-style: italic; 
}
.page-comentarios h1 {
	font-size: 1.75em;
	margin-bottom: 0.5em;
}

.fb-comments, 
.fb-comments > span, 
.fb-comments iframe {
	max-width: 600px;
	width: 100% !important;
}