Header unset ETag
FileETag None

AddOutputFilterByType MOD_PAGESPEED_OUTPUT_FILTER text/html
AddOutputFilterByType DEFLATE text/text text/plain text/xml text/css application/x-javascript application/javascript text/cache-manifest image/svg+xml application/x-font-ttf

<IfModule mod_expires.c>
 ExpiresActive on

 ExpiresDefault      "access plus 2 minutes"

 ExpiresByType text/cache-manifest "access plus 0 seconds"
 ExpiresByType text/xml "access plus 0 seconds"
 ExpiresByType application/xml "access plus 0 seconds"
 ExpiresByType application/json "access plus 0 seconds"

 # RSS feed
 ExpiresByType application/rss+xml "access plus 1 hour"

 # Favicon (cannot be renamed)
 ExpiresByType image/x-icon "access plus 1 week"
   
 <IfModule mod_headers.c>
  Header append Cache-Control "public"
 </IfModule>
</IfModule>

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
AddType text/cache-manifest .manifest
AddType text/cache-manifest .appcache

AddType image/svg+xml .svg .svgz
AddEncoding gzip svgz


# PageSpeed
<IfModule pagespeed_module>
   ModPagespeed on   
   ModPagespeedEnableFilters move_css_above_scripts
   ModPagespeedEnableFilters local_storage_cache
   ModPagespeedEnableFilters convert_jpeg_to_webp
   ModPagespeedEnableFilters remove_comments
   ModPagespeedEnableFilters collapse_whitespace
   ModPagespeedEnableFilters remove_quotes
   ModPagespeedEnableFilters trim_urls
   # ModPagespeedEnableFilters lazyload_images
</IfModule>


# Links simples
RewriteEngine on

# redirect dos exemplos do livro
RewriteRule ^m0$ /livro-web-mobile/exemplos/grid-flexivel-simples.html [R=302,L]
RewriteRule ^mo$ /livro-web-mobile/exemplos/grid-flexivel-simples.html [R=302,L]
RewriteRule ^m1$ /livro-web-mobile/exemplos/media-queries1.html [R=302,L]
RewriteRule ^m2$ /livro-web-mobile/exemplos/media-queries2.html [R=302,L]
RewriteRule ^m3$ /livro-web-mobile/exemplos/viewport.html [R=302,L]
RewriteRule ^m4$ /livro-web-mobile/exemplos/viewport-mobile.html [R=302,L]
RewriteRule ^m5$ /livro-web-mobile/exemplos/retina.html [R=302,L]
RewriteRule ^m6$ /livro-web-mobile/exemplos/touch-start-end.html [R=302,L]
RewriteRule ^m7$ /livro-web-mobile/exemplos/touch-smart.html [R=302,L]
RewriteRule ^m8$ /livro-web-mobile/exemplos/touch-slide.html [R=302,L]
RewriteRule ^m9$ /livro-web-mobile/exemplos/input-html5.html [R=302,L]
RewriteRule ^m10$ /livro-web-mobile/exemplos/input-date.html [R=302,L]
RewriteRule ^m11$ /livro-web-mobile/exemplos/input-number.html [R=302,L]
RewriteRule ^m12$ /livro-web-mobile/exemplos/input-range-color.html [R=302,L]
RewriteRule ^m13$ /livro-web-mobile/exemplos/input-password.html [R=302,L]
RewriteRule ^m14$ /livro-web-mobile/exemplos/select.html [R=302,L]
RewriteRule ^m15$ /livro-web-mobile/exemplos/input-file.html [R=302,L]
RewriteRule ^m16$ /livro-web-mobile/exemplos/labels.html [R=302,L]

RewriteRule ^e0$ /mobile-web-book/examples/grid-flexivel-simples.html [R=302,L]
RewriteRule ^eo$ /mobile-web-book/examples/grid-flexivel-simples.html [R=302,L]
RewriteRule ^e1$ /mobile-web-book/examples/media-queries1.html [R=302,L]
RewriteRule ^e2$ /mobile-web-book/examples/media-queries2.html [R=302,L]
RewriteRule ^e3$ /mobile-web-book/examples/viewport.html [R=302,L]
RewriteRule ^e4$ /mobile-web-book/examples/viewport-mobile.html [R=302,L]
RewriteRule ^e5$ /mobile-web-book/examples/retina.html [R=302,L]
RewriteRule ^e6$ /mobile-web-book/examples/touch-start-end.html [R=302,L]
RewriteRule ^e7$ /mobile-web-book/examples/touch-smart.html [R=302,L]
RewriteRule ^e8$ /mobile-web-book/examples/touch-slide.html [R=302,L]
RewriteRule ^e9$ /mobile-web-book/examples/input-html5.html [R=302,L]
RewriteRule ^e10$ /mobile-web-book/examples/input-date.html [R=302,L]
RewriteRule ^e11$ /mobile-web-book/examples/input-number.html [R=302,L]
RewriteRule ^e12$ /mobile-web-book/examples/input-range-color.html [R=302,L]
RewriteRule ^e13$ /mobile-web-book/examples/input-password.html [R=302,L]
RewriteRule ^e14$ /mobile-web-book/examples/select.html [R=302,L]
RewriteRule ^e15$ /mobile-web-book/examples/input-file.html [R=302,L]
RewriteRule ^e16$ /mobile-web-book/examples/labels.html [R=302,L]

