<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<!-- IE -->
	<meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }} - sergiolopes.org</title>

	<!-- Mobile -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Fontes -->
	<link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:700' rel='stylesheet' type='text/css'>

	<!-- Estilos -->
	<link rel="stylesheet" type="text/css" href="/style.css?2">
	<!-- Facebook -->
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:url" content="http://sergiolopes.org{{ page.url }}">
	<meta property="og:type" content="{{ page.ogtype }}">
	<meta property="og:site_name" content="SergioLopes.org">
	<meta property="fb:admins" content="1550986373"/>
    <meta property="fb:app_id" content="309652569089723">
	<meta property="og:description" content="{{ page.description }}">
	
	<!-- Google+ -->
	<meta itemprop="name" content="{{ page.title }}">
	<meta itemprop="description" content="{{ page.description }}">
	<meta name="description" content="{{ page.description }}">

	<!-- Feed -->
	<link rel="alternate" type="application/atom+xml" title="SergioLopes.org" href="http://sergiolopes.org/feed.xml">
</head>
<body>
	<header>
			<a href="/">
				<img src="/img/base/foto.jpg" alt="Sérgio Lopes">
			</a>
			<div>
				<a href="/">
					<span id="sergio">sergio</span><span id="lopes">lopes</span><span id="org">.org</span>
				</a>
			</div>
	</header>
	<nav class="top">
		<a href="#nav-bottom" class="menu">Menu</a>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/sobre/">Sobre</a></li>
			<li><a href="/feed.xml">Feed</a></li>
			<li><a href="https://twitter.com/sergio_caelum">Twitter</a></li>
			<li><a href="https://www.facebook.com/sergio.caelum">Facebook</a></li>
			<li><a href="https://github.com/sergiolopes">Github</a></li>
		</ul>
	</nav>

	<article>
		{{ content }}
	</article>

	<nav class="bottom" id="nav-bottom">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/sobre/">Sobre</a></li>
			<li><a href="/feed.xml">Feed</a></li>
			<li><a href="https://twitter.com/sergio_caelum">Twitter</a></li>
			<li><a href="https://www.facebook.com/sergio.caelum">Facebook</a></li>
			<li><a href="https://github.com/sergiolopes">Github</a></li>
		</ul>
	</nav>

	<div id="fb-root"></div>
	<script src="/js/scripts.js?1" async></script>
</body>
</html>