<!doctype html>
<html class="no-js" {% if page.offlineManifest %}manifest="{{ page.offlineManifest }}"{% endif %}>
<head>

	<!-- Fontes -->
	{% if page.googlefonts %}
		<link href='//fonts.googleapis.com/css?family={{ page.googlefonts }}' rel='stylesheet'>
	{% endif %}

	<!-- Estilos -->
	<link rel="stylesheet" href="/style.css?11">
	{% if page.layoutcss %}
		<link rel="stylesheet" href="{{ page.layoutcss }}">
	{% endif %}
	{% if page.css %}
		<link rel="stylesheet" href="{{ page.css }}">
	{% endif %}

	<!-- inclui head comum, sem assets -->
	{% include snippets/head.html %}

</head>
<body class="{% if page.theme %}{{ page.theme }}{% else %}classic{% endif %}-theme themed-body">

	{{content}}

	<div id="fb-root"></div>
	<script src="/js/scripts.js?3" async></script>

	{% if page.layoutscript %}
		<script src="{{ page.layoutscript }}" async></script>
	{% endif %}
	{% if page.script %}
		<script src="{{ page.script }}" async></script>
	{% endif %}
</body>
</html>