---
layout: base
pagetype: blog
---
<header>
	<a href="/">
		<img src="/img/base/foto.jpg" alt="Sérgio Lopes">
	</a>
	<div>
		<a href="/">
			<span id="sergio">sergio</span><span id="lopes">lopes</span><span id="org">.org</span>
		</a>
	</div>

	<nav class="top">
		<a href="#nav-bottom" class="menu">Menu</a>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/sobre/">Sobre</a></li>
			<li><a href="/feed.xml">Feed</a></li>
			<li><a href="https://twitter.com/sergio_caelum">Twitter</a></li>
			<li><a href="https://www.facebook.com/sergio.caelum">Facebook</a></li>
			<li><a href="https://github.com/sergiolopes">Github</a></li>
		</ul>
	</nav>
</header>

{{ content }}

<nav class="bottom" id="nav-bottom">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/sobre/">Sobre</a></li>
		<li><a href="/feed.xml">Feed</a></li>
		<li><a href="https://twitter.com/sergio_caelum">Twitter</a></li>
		<li><a href="https://www.facebook.com/sergio.caelum">Facebook</a></li>
		<li><a href="https://github.com/sergiolopes">Github</a></li>
	</ul>
</nav>