---
layout: blog
ogtype: article
---
<article class="text-page post container {% if page.fullPagePost != 'true' %}limit-line-length{%endif%}">
	
	{% if page.showTitleH1 != 'false' %}
		<h1>{{ page.title }}</h1>
	{% endif %}

	<div class="post-content">
		{{ content }}	
	</div>
	
	<aside class="post-info">
		<p class="post-author like-h">
			Escrito por <a href="https://plus.google.com/116277751891701467725?rel=author">Sérgio Lopes</a> 
			
			{% if page.originalDate %}
				originalmente em {{ page.originalDate | date_to_string }} e atualizado em <span class="post-data">{{ page.date | date_to_string }}</span>.
			{% else %}
				em <span class="post-data">{{ page.date | date_to_string }}</span>.
			{% endif %}
		</p>
	
		<div class="post-social">
			
			<a href="http://www.facebook.com/sharer/sharer.php?u={{ 'http://sergiolopes.org' | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" class="share-facebook">
				<span aria-hidden="true" class="icone-facebook"></span>
				Compartilhar no Facebook
			</a>
			
			<a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ 'http://sergiolopes.org' | cgi_escape }}{{ page.url | cgi_escape }}&amp;via=sergio_caelum" rel="nofollow" class="share-twitter">
				<span aria-hidden="true" class="icone-twitter"></span>
				Compartilhar no Twitter
			</a>
			
			<a href="/comentarios/?url={{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}" rel="nofollow" class="share-comment">
				<span aria-hidden="true" class="icone-bubbles"></span>
				Comentários
			</a>
			
		</div>
	</aside>
</article>


	
